Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build tmra-raise:
  stage: build
  needs: []
  script:
  - cd apps/raise
  - yarn --immutable
  - yarn build
  - '[ -f "dist/main.js" ] || { ls -F dist/; echo "Error: Build was invalid. apps/raise/dist/main.js must exist after build! Hint: Make sure you only use src/ folder."; exit 1; }'
  artifacts:
    paths:
    - package.json
  ...

build tmra-pwa dev:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: dev
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa qc:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: qc
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa staging:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: staging
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa prod:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: prod
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

publish tmra-raise to non-prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-raise to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to dev:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa dev
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to qc:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa qc
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to staging:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa staging
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa prod
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

feat: propsoal submit closing report
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-commons/utils/is-tender-file-payload.ts
  apps/raise/src/tender-file-manager/services/tender-file-manager.service.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/ask-closing-report.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/responses/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/create-ask-closing-report.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/index.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: temporary disable validation for messaging roles
  apps/raise/src/tender-messaging/tender-message/services/tender-messages.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add: WIP closing reports #2
  apps/pwa/src/@types/commons.ts
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/IncomingClientCloseReport.tsx
  apps/pwa/src/pages/client/ProjectReportFinished.tsx
  apps/pwa/src/pages/project-supervisor/IncomingCloseReports.tsx
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/client/project-report/forms/SubmitProjectReportForm.tsx
  apps/pwa/src/sections/client/project-report/types.ts
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
  apps/pwa/src/sections/project-details/floating-close-report/FloatingClientSubmit.tsx
  apps/pwa/src/sections/project-details/floating-close-report/FloatingSpv.tsx
  apps/pwa/src/sections/project-details/payments/client/ClientPaymentsPage.tsx
  apps/pwa/src/sections/project-details/taps-pages/Payments.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingCloseReport.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: previous funding request in cashier and finance, fixing project details in client
  apps/pwa/src/components/card-table/NewCardTable.tsx
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/pages/cashier/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/cashier/PreviousFundingRequests.tsx
  apps/pwa/src/pages/cashier/RequestsInProcess.tsx
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/finance/PreviousFundingRequests.tsx
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/ManagerPaymentsPage.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/taps-pages/ProjectBudget.tsx
  apps/pwa/src/utils/whereFilterGenerator.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add: WIP closing reports #3
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ProjectReportFinished.tsx
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/client/project-report/forms/SubmitProjectReportForm.tsx
  apps/pwa/src/sections/client/project-report/types.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/ask-closing-report.dto.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: minor for closing report
  apps/pwa/src/pages/client/ProjectReportFinished.tsx
  apps/pwa/src/sections/client/project-report/forms/SubmitProjectReportForm.tsx
  apps/pwa/src/sections/client/project-report/types.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/ask-closing-report.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix mas yan api for submit closing form, wip for umar request 70% done, wip on arya request 50% done
  apps/raise/src/tender-messaging/tender-message/services/tender-messages.service.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/ask-closing-report.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/dtos/requests/index.ts
  apps/raise/src/tender-user/user/dtos/requests/update-profile.dto.ts
  apps/raise/src/tender-user/user/dtos/requests/update-user.dto.ts
  apps/raise/src/tender-user/user/interfaces/update-user-payload.interface.ts
  apps/raise/src/tender-user/user/mappers/index.ts
  apps/raise/src/tender-user/user/mappers/update-profile.mapper.ts
  apps/raise/src/tender-user/user/mappers/update-user.mapper.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: done umar for update user by admin and arya request for adding response
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: solve issue on updating user roles
  apps/raise/src/libs/fusionauth/dtos/request/update-fusion-auth-user.dto.ts
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:incoming request for all roles, fix bug in previous request in finance and cashier
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/pages/cashier/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/cashier/PreviousFundingRequests.tsx
  apps/pwa/src/pages/cashier/RequestsInProcess.tsx
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/finance/PreviousFundingRequests.tsx
  apps/pwa/src/pages/finance/RequestsInProcess.tsx
  apps/pwa/src/pages/project-manager/ExchangePermission.tsx
  apps/pwa/src/pages/project-supervisor/IncomingFundingRequests.tsx
  apps/pwa/src/pages/project-supervisor/RequestsInProcess.tsx
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/taps-pages/ProjectBudget.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat edit employee by admin, fix minor bug message content
  apps/pwa/src/components/button/ButtonDownloadFiles.tsx
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: notificaiton update from excel, add response on payments
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/close-report-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-track/track.controller.ts
  apps/raise/src/tender-track/track.repository.ts
  apps/raise/src/tender-track/track.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

workaround slicing calenderPicker for appointment
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-manager/appintments-with-partner/BookingAMeetingWothClient.tsx
  apps/pwa/src/sections/project-manager/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/theme/overrides/MuiCalendarPicker.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: edit user via admin
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat:enabled input field in acc supervisor grant when partial support choosen, add validation on total project budgets
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/project-supervisor/IncomingFundingRequests.tsx
  apps/pwa/src/pages/project-supervisor/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat slicing CalendarPicker, adjustment menu item for admin
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/sections/project-manager/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/theme/overrides/MuiCalendarPicker.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: typescript 4.9.5
  package.json
  yarn.lock
Due: none

fix(pwa): GENERATE_SOURCEMAP=false
  apps/pwa/package.json
  yarn.lock
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: yarn 3.5.0
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
Due: none

fix:step 1 in acc supervisor grant
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

adjustment menu item in main page role admin
  apps/pwa/src/sections/admin/main/Settings.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:previous request in supervisor and project manager
  apps/pwa/src/pages/project-manager/PreviousFundingRequests.tsx
  apps/pwa/src/pages/project-supervisor/PreviousFundingRequests.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add: page transaction progress, fix minor
  apps/pwa/public/icons/hug-icon.svg
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/pages/admin/TransactionProgression.tsx
  apps/pwa/src/pages/project-supervisor/PreviousFundingRequests.tsx
  apps/pwa/src/sections/admin/transaction-progression/ContentTrackCard.tsx
  apps/pwa/src/sections/admin/transaction-progression/TransactionProgressionPage.tsx
  apps/pwa/src/sections/admin/transaction-progression/index.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

workaround appointment
  apps/pwa/src/components/modal-dialog/ConfirmationModal.tsx
  apps/pwa/src/components/modal-dialog/RejectionModal.tsx
  apps/pwa/src/components/table/appointment/client/AppointmentsRow.tsx
  apps/pwa/src/components/table/appointment/client/AppointmentsTable.tsx
  apps/pwa/src/components/table/appointment/client/appointments.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/client/appointments/Appointments.tsx
  apps/pwa/src/sections/client/appointments/adjust-your-time/AdjustClentAvailableTime.tsx
  apps/pwa/src/sections/client/appointments/appointments-requests/AppointmentsRequests.tsx
  apps/pwa/src/sections/client/appointments/appointments-tabel/AppointmentsTap.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: closing report #1
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ProjectReportFinished.tsx
  apps/pwa/src/queries/client/getProposalClosingReport.ts
  apps/pwa/src/sections/client/dashboard/IncomingClientCloseReport.tsx
  apps/pwa/src/sections/client/dashboard/index.tsx
  apps/pwa/src/sections/client/project-report/InfoClosingReport.tsx
  apps/pwa/src/sections/client/project-report/types.ts
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
  apps/pwa/src/sections/project-details/floating-close-report/FloatingClientSubmit.tsx
  apps/pwa/src/sections/project-details/taps-pages/Payments.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix adjustment output field in project path for supervisor grants
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: closing report #2 & WIP track_budget #1
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/admin/TracksBudget.tsx
  apps/pwa/src/pages/client/IncomingClientCloseReport.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/admin/track-budget/AddNewBudget.tsx
  apps/pwa/src/sections/admin/track-budget/Track.tsx
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/AddNewSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/CheckBoxSection.tsx
  apps/pwa/src/sections/client/dashboard/index.tsx
  apps/pwa/src/sections/client/project-report/InfoClosingReport.tsx
  apps/pwa/src/sections/client/project-report/types.ts
  apps/pwa/src/sections/project-details/floating-close-report/FloatingClientSubmit.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add:route and page for add new track, review track
  apps/pwa/public/icons/list-icon.svg
  apps/pwa/src/routes/admin-route.tsx
  apps/pwa/src/sections/admin/transaction-progression/AddNewTrack.tsx
  apps/pwa/src/sections/admin/transaction-progression/ContentTrackCard.tsx
  apps/pwa/src/sections/admin/transaction-progression/ListTrack.tsx
  apps/pwa/src/sections/admin/transaction-progression/ReviewOperationTrack.tsx
  apps/pwa/src/sections/admin/transaction-progression/TransactionProgressionPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix bug account manager, WIP appointment
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/pages/accounts-manager/partner/management.tsx
  apps/pwa/src/pages/project-supervisor/AppointmentsWithPartners.tsx
  apps/pwa/src/pages/project-supervisor/BookingAMeeting.tsx
  apps/pwa/src/queries/account_manager/partnerManagement.ts
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/project-manager/appintments-with-partner/StepOne.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/BookingAMeetingWothClient.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/MeetingBox.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/StepOne.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/index.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/mockData.ts
  apps/pwa/src/theme/overrides/MuiCalendarPicker.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP appointment in supervisor role, fetching client data for main and sub main authoriy field, handle pagination, handle condition for fetching
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/client/clientMainPage.ts
  apps/pwa/src/sections/client/appointments/adjust-your-time/AdjustClentAvailableTime.tsx
  apps/pwa/src/sections/client/dashboard/PreviousFundingInqueries.tsx
  apps/pwa/src/sections/client/dashboard/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/BookingAMeetingWothClient.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/StepOne.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add query to fetch client sechedule by id, and integreate msegat
  apps/raise/src/app.module.ts
  apps/raise/src/commons/configs/msegat-config.ts
  apps/raise/src/libs/msegat/dtos/requests/index.ts
  apps/raise/src/libs/msegat/dtos/requests/msegat-send-sms.dto.ts
  apps/raise/src/libs/msegat/dtos/requests/send-sms.dto.ts
  apps/raise/src/libs/msegat/msegat.module.ts
  apps/raise/src/libs/msegat/services/msegat.service.ts
  apps/raise/src/shared/shared.module.ts
  apps/raise/src/tender-appointment/schedule/controllers/tender-schedule.controller.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender/controllers/tender.controller.ts
  apps/raise/src/tender/services/tender.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: WIP track_budget #2
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/admin/track-budget/AddNewBudget.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/CheckBoxSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/Section.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/SectionTracks.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: closing report #3
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: enable close report review for employee
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/moderator-route.tsx
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: query to filter appointment, by certain month and year, also create many track gudget
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-appointment/appointment/controllers/tender-appointment.controller.ts
  apps/raise/src/tender-appointment/appointment/dtos/requests/appointment-filter-request.dto.ts
  apps/raise/src/tender-appointment/appointment/repositories/tender-appointment.repository.ts
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/create-track-budget.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/create-track-section-budget-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

handle null vairable in partnerDetails, WIP appointment
  apps/pwa/src/components/EmptyContent.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/BookingAMeetingWothClient.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/StepOne.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat:notification for update information after reset password in client
  apps/pwa/package.json
  apps/pwa/src/layouts/dashboard/index.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/sections/client/dashboard/UnActivatedAccount.tsx
  apps/pwa/src/sections/client/dashboard/UpdateInformation.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP appointment
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/StepOne.tsx
  apps/pwa/src/theme/overrides/MuiCalendarPicker.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix minor
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*
