Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*

feat workaround download proposal details
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/ProposalPrintPreview.tsx
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/sections/finance/payment/PreviewPayment.tsx
  apps/pwa/src/sections/project-details/PrintProposal.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/shared/BankImageComp.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat workaround download proposal details
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/routes/moderator-route.tsx
  apps/pwa/src/sections/project-details/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat download proposal details
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/moderator-route.tsx
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/project-details/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: for reset/forgot password GS
  apps/raise/src/gs-auth/controllers/gs-auth.controller.ts
  apps/raise/src/gs-auth/dtos/requests/gs-register-request.dto.ts
  apps/raise/src/gs-auth/services/gs-auth.service.ts
  apps/raise/src/libs/email/templates/gs/en/reset/reset_password.hbs
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat disable feature track budget for employee roles
  apps/pwa/src/sections/admin/main/Main.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
  apps/pwa/src/sections/project-manager/main/Main.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix blank screen project path in role cashier
  apps/pwa/src/redux/slices/proposal.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix bug project path && amandement request history
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ClientClosingReport.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ProjectManager.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGeneral.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: try to fix fetching previous proposal, and send sms
  apps/raise/src/commons/utils/is-exist-and-valid-phone.ts
  apps/raise/src/tender-auth/dtos/responses/tender-login-response.dto.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-commons/utils/remove-966-prefix.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/update-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat add filter on fetching amandement proposal in role supervisor
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: change relation for track and track section, add dbml generator for auto documentation, change query raw for total budget, fix add track section
  apps/raise/package.json
  apps/raise/src/prisma/dbml/schema.dbml
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/create-track-section-budget-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change yarn lock add prisma dbml package
  yarn.lock
Due: none

fix bug delete bank by client, workaround track budget in role admin
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/sections/admin/track-budget/AddNewBudget.tsx
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/AddNewSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/CheckBoxSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/SectionTracks.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP: paytabs for GS
  apps/raise/src/app.module.ts
  apps/raise/src/donor/enum/donation-status.enum.ts
  apps/raise/src/libs/paytabs/enums/paytabs-currency-enum.ts
  apps/raise/src/libs/paytabs/models/paytabs-card-details.model.ts
  apps/raise/src/libs/paytabs/models/paytabs-payment-request-payload.model.ts
  apps/raise/src/libs/paytabs/services/paytabs.service.ts
  apps/raise/src/organization/organization.service.ts
  apps/raise/src/payment-paytabs/dto/index.ts
  apps/raise/src/payment-paytabs/dto/payment-gateway.dto.ts
  apps/raise/src/payment-paytabs/dto/payment-paytabs.dto.ts
  apps/raise/src/payment-paytabs/payment-paytabs.controller.spec.ts
  apps/raise/src/payment-paytabs/payment-paytabs.controller.ts
  apps/raise/src/payment-paytabs/payment-paytabs.module.ts
  apps/raise/src/payment-paytabs/payment-paytabs.service.spec.ts
  apps/raise/src/payment-paytabs/payment-paytabs.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

WIP: paytabs for GS #2
  apps/raise/src/payment-paytabs/payment-paytabs.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bug payment complete button in cahsier, workaournd project budget
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/AddNewSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/Section.tsx
  apps/pwa/src/sections/project-details/payments/cachier/CashierPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: track budgets, track budget with proposal on it
  apps/raise/src/prisma/dbml/schema.dbml
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/find-track-budget-filter.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: paytabs callback
  apps/raise/src/payment-paytabs/payment-paytabs.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: reset password
  apps/raise/src/gs-auth/services/gs-auth.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: sum budget used on track, fix fetch amandement on supervisor
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat add role filter for find track budget
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: sum cacluation budget(by id, and many) for all needed roles
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat track budget in spv, pm, finance, cashier, fix bug arabic translation, fix bug project path layout position
  apps/pwa/public/index.html
  apps/pwa/src/sections/cashier/main/Main.tsx
  apps/pwa/src/sections/cashier/main/TrackBudget.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/TrackBudget.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
  apps/pwa/src/sections/finance/main/Main.tsx
  apps/pwa/src/sections/finance/main/TrackBudget.tsx
  apps/pwa/src/sections/project-details/ActionTap.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-manager/main/Main.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/TrackBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP: paytabs cart payment, without callback
  apps/raise/src/organization/organization.service.ts
  apps/raise/src/payment-paytabs/payment-paytabs.controller.ts
  apps/raise/src/payment-paytabs/payment-paytabs.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bug delete section in track budget in role admin
  apps/pwa/src/sections/admin/track-budget/section-track/Section.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/SectionTracks.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: paytabs cart payment callback request
  apps/raise/src/payment-paytabs/payment-paytabs.controller.ts
  apps/raise/src/payment-paytabs/payment-paytabs.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

build: Upgrade Prisma 4.14.1
  apps/raise/package.json
  apps/raise/src/prisma/dbml/schema.dbml
  yarn.lock
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

build: Use Pino instead of Winston
  apps/raise/.env.example
  apps/raise/package.json
  apps/raise/src/app.module.ts
  apps/raise/src/main.ts
  yarn.lock
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

refactor: Primary logger is now Pino. But Winston is still used by previous code.
  README.md
  apps/raise/package.json
  apps/raise/src/main.ts
  apps/raise/src/prisma/prisma.service.ts
  apps/raise/src/tender-commons/utils/prisma-error-thrower.ts
  yarn.lock
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: counting budget that has wrong calculation, change prisma error thrower, fix docs on .env.example
  apps/raise/.env.example
  apps/raise/src/tender-commons/utils/prisma-error-thrower.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: error donor data in organization dashboard
  apps/raise/src/organization/organization.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat track budgets in role admin and ceo,fix layout project details,fix bug project path
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/sections/admin/main/Main.tsx
  apps/pwa/src/sections/admin/main/TrackBudget.tsx
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
  apps/pwa/src/sections/project-details/ActionTap.tsx
  apps/pwa/src/sections/project-details/action-bar-taps.ts
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ProjectManager.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGeneral.tsx
  apps/pwa/src/sections/project-details/taps-pages/ProjectBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: donorId when sign in
  apps/raise/src/payment-paytabs/dto/payment-paytabs.dto.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: add builder, crud beneficiary
  apps/raise/package.json
  apps/raise/src/prisma/dbml/schema.dbml
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/controllers/tender-proposal-beneficiaries.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/dtos/requests/create-beneficiaries.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/dtos/requests/update-beneficiaries.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/entity/beneficiary.entity.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/repositories/tender-proposal-beneficiaries.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/services/tender-proposal-beneficiaries.service.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/types/beneficiary.type.ts
  yarn.lock
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: find by id and find many beneficiary
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/controllers/tender-proposal-beneficiaries.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/dtos/requests/find-beneficiaries.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/repositories/tender-proposal-beneficiaries.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-beneficiaries/services/tender-proposal-beneficiaries.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat workaround handle error 500 internal server error, in apps
  apps/pwa/src/components/card-table/ClientCard.tsx
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementRow.tsx
  apps/pwa/src/pages/client/AmandementRequest.tsx
  apps/pwa/src/sections/admin/main/TrackBudget.tsx
  apps/pwa/src/sections/admin/track-budget/Track.tsx
  apps/pwa/src/sections/admin/transaction-progression/AddNewTrack.tsx
  apps/pwa/src/sections/finance/payment/ProposalDetails.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalRejectingForm.tsx
  apps/pwa/src/utils/formatCapitalizeText.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: change error logger
  apps/raise/src/tender-commons/utils/prisma-error-thrower.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: fusion register error && name not showing in payment paytabs
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/payment-paytabs/payment-paytabs.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: add create project timeline on proposal
  apps/raise/src/tender-file-manager/services/tender-file-manager.service.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-project-timeline.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-interceptor.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: payment adjustment if not general then only can see the same track proposal, add permission for admin fetch budget by id
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod
