Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build tmra-raise:
  stage: build
  needs: []
  script:
  - cd apps/raise
  - yarn --immutable
  - yarn build
  - '[ -f "dist/main.js" ] || { ls -F dist/; echo "Error: Build was invalid. apps/raise/dist/main.js must exist after build! Hint: Make sure you only use src/ folder."; exit 1; }'
  artifacts:
    paths:
    - package.json
  ...

build tmra-pwa dev:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: dev
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa qc:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: qc
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa staging:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: staging
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa prod:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: prod
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

publish tmra-raise to non-prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-raise to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to dev:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa dev
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to qc:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa qc
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to staging:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa staging
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa prod
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

[Fix] fixing some issues in the multi roles
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/FloatingActionBar.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix the activate user and delete user
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/tender-commons/utils/prisma-error-thrower.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] fixing the accounts manager pages due to some changes in the database, fixing some translation mistakes
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/cn.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/locales/fr.ts
  apps/pwa/src/locales/i18n.ts
  apps/pwa/src/locales/vn.ts
  apps/pwa/src/pages/Page500.tsx
  apps/pwa/src/pages/accounts-manager/MainManagerPage.tsx
  apps/pwa/src/pages/accounts-manager/info/update-request.tsx
  apps/pwa/src/pages/accounts-manager/new/join-request.tsx
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/pages/accounts-manager/partner/management.tsx
  apps/pwa/src/pages/client/MainClientPage.tsx
  apps/pwa/src/pages/client/draft-funding-requests/index.tsx
  apps/pwa/src/pages/client/previous-funding-requests/index.tsx
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/project-manager/IncomingFundingRequests.tsx
  apps/pwa/src/pages/project-manager/PreviousFundingRequests.tsx
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
  apps/pwa/src/pages/project-supervisor/IncomingFundingRequests.tsx
  apps/pwa/src/queries/account_manager/clientNewRequest.ts
  apps/pwa/src/queries/account_manager/detailsClientData.ts
  apps/pwa/src/queries/account_manager/partnerManagement.ts
  apps/pwa/src/queries/account_manager/statistic.ts
  apps/pwa/src/sections/cashier/main/DailyStatistics.tsx
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/client/dashboard/ClientCarousel.tsx
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/client/dashboard/DraftProject.tsx
  apps/pwa/src/sections/client/dashboard/PreviousFundingInqueries.tsx
  apps/pwa/src/sections/client/dashboard/index.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ProjectInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: change logger on fusion auth
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

build(raise): add & modify for user donor registration
  apps/raise/src/gs-auth/controllers/gs-auth.controller.ts
  apps/raise/src/gs-auth/dtos/requests/gs-register-request.dto.ts
  apps/raise/src/gs-auth/services/gs-auth.service.ts
  apps/raise/src/gs-user/gs-user.module.ts
  apps/raise/src/gs-user/services/gs-user.service.ts
  apps/raise/src/libs/fusionauth/dtos/response/validate-jwt-response.ts
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/user/dtos/register-from-fusion-auth.dto.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] fixing uploading an image
  apps/pwa/src/components/hook-form/RHFUpload.tsx
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: refactor validation and refix activate user payload
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-commons/decorators/validate-ksa-phone-number-9661.decorator.ts
  apps/raise/src/tender-commons/decorators/validate-ksa-phone-number-9665.decorator.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] deleteing the vat in the registration, making some changes in the texts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/MainForm.tsx
  apps/pwa/src/sections/project-details/action-bar-taps.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FloatinActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: remove vat, and sync database also meta data
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: phone to 61, entity_mobile 65, data_entry_mobile 65
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] fixing the responsivness of the un avtivated page, fixing the phone number in the regitration page
  apps/pwa/src/sections/auth/register/final-page/ConnectionInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
  apps/pwa/src/sections/client/dashboard/UnActivatedAccount.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix] fixing the center_administration
  apps/pwa/src/sections/auth/register/final-page/ConnectionInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: remove clause from consultant_form, change the main phone of user to entity_mobile
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-commons/decorators/validate-ksa-phone-number-9661.decorator.ts
  apps/raise/src/tender-commons/decorators/validate-ksa-phone-number-9665.decorator.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: central administration optional, changing create edit request for client, change checking error on registration
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request.dto.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] fixing showing the proposals on the project manager
  apps/pwa/src/contexts/JWTContext.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/ApproveModal.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix] fixing and making an overview of the code
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementRow.tsx
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementTable.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/project-supervisor/PaymentAdjustment.tsx
  apps/pwa/src/queries/commons/approveProposal.ts
  apps/pwa/src/queries/commons/rejectProposalWithLog.ts
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/ConsultantFloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/FormActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FloatinActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/SupervisorPaymentsPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix] addding again the notes for the CEO in accepting and rejecting a proposal
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListTable.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/ApproveModal.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/form-data.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix] the translation and creating a new employee
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementRow.tsx
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/FormActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/form-data.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add conflict thrower for duplicate email and phone, make employee path, and activate to required, wip edit request
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/mappers/edit_request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/dtos/requests/tender-create-user-fusion-auth.dto.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] making sure that all the steps are working well, chnging some translations and making the notes fiels non-required
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/form-data.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/form-data.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/types.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: add step-back action with some refactoring
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/enum/proposalAction.enum.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-track/dto/track.dto.ts
  apps/raise/src/tender-track/track.repository.ts
  apps/raise/src/tender-track/track.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: working on progress accept edit request, apply prisma transaction
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-commons/utils/prisma-error-thrower.ts
  apps/raise/src/tender-proposal/dtos/responses/payment/update-payment-response.dto.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/approve-edit-request.dto.ts
  apps/raise/src/tender-user/client/dtos/responses/client-edit-request.response.dto.ts
  apps/raise/src/tender-user/client/mappers/edit_request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/types/user_status.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Feat] get the proposal back one step, creating the log, adding the dollow ups for the employees and the clients, connecting the update with the backend
  apps/pwa/package.json
  apps/pwa/src/config.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/Moderator/updateProposalByModerator.ts
  apps/pwa/src/queries/ceo/updateProposalByCEO.ts
  apps/pwa/src/queries/client/getFollowUps.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/queries/commons/stepBackOneProposal.ts
  apps/pwa/src/queries/consultant/AcceptProposalByConsultant.ts
  apps/pwa/src/queries/project-manager/updateProposalByProjectManager.ts
  apps/pwa/src/queries/project-supervisor/ProposalAcceptBySupervisor.ts
  apps/pwa/src/queries/project-supervisor/ProposalAcceptBySupervisorFacilitateGrant.ts
  apps/pwa/src/sections/admin/main/Main.tsx
  apps/pwa/src/sections/project-details/ActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/ApproveModal.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/FormActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/form-data.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/ConsultantFloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/FormActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/FormActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/form-data.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FloatinActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/FormActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/follow-ups/ClientFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUps.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsAction.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsFile.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsText.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  yarn.lock
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix] fixing the yarn.lock file
  yarn.lock
Due: none

feat: change how to load env, add log when updating payment, in progress update user via fusion auth
  apps/raise/README.md
  apps/raise/package.json
  apps/raise/src/app.module.ts
  apps/raise/src/commons/configs/bunny-config.ts
  apps/raise/src/commons/configs/fusion-auth-config.ts
  apps/raise/src/commons/configs/gapi-config.txt
  apps/raise/src/commons/configs/metail-api-config.txt
  apps/raise/src/commons/configs/nodemailer-config.ts
  apps/raise/src/commons/utils/joi-required-string.ts
  apps/raise/src/commons/utils/joi-required-url.ts
  apps/raise/src/libs/bunny/services/bunny.service.ts
  apps/raise/src/libs/email/email.module.ts
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/main.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/dtos/responses/payment/update-payment-response.dto.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/responses/client-edit-request.response.dto.ts
  apps/raise/src/tender-user/client/mappers/create-client.mapper.ts
  apps/raise/src/tender-user/client/mappers/edit_request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
  apps/raise/src/tender-user/user/dtos/requests/update-user.dto.ts
  apps/raise/src/tender-user/user/interfaces/update-user-payload.interface.ts
  apps/raise/src/tender-user/user/mappers/update-user.mapper.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
  apps/raise/src/user/user.controller.ts
  apps/raise/src/user/user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change how to load env, add log when updating payment, in progress update user via fusion auth
  yarn.lock
Due: none

[Fix] fixing some problems in the ui and the labels
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/pages/moderator/previous-support-requests/index.tsx
  apps/pwa/src/pages/project-supervisor/PreviousFundingRequests.tsx
  apps/pwa/src/sections/project-details/ActionBar.tsx
  apps/pwa/src/sections/project-details/action-bar-taps.ts
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FloatinActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/FloatingActionBar.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: hot fix
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Feat] add the statistics to all roles
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/Cashier/getDailyCashierStatistics.ts
  apps/pwa/src/queries/Moderator/stactic.ts
  apps/pwa/src/queries/consultant/getDailyConsultantStatistics.ts
  apps/pwa/src/queries/finance/getDailyFinanceStatistics.ts
  apps/pwa/src/queries/project-manager/getDailyProjectManagerStatistics.ts
  apps/pwa/src/queries/project-supervisor/getDailyStatistics.ts
  apps/pwa/src/sections/cashier/main/DailyStatistics.tsx
  apps/pwa/src/sections/consultant/main/DailyStatistics.tsx
  apps/pwa/src/sections/finance/main/DailyStatistics.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/FloatingActionBar.tsx
  apps/pwa/src/sections/project-manager/main/DailyStatistics.tsx
  apps/pwa/src/sections/project-supervisor/main/DailyStatistics.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: BE for cart tmra
  apps/raise/src/donor/donor.service.ts
  apps/raise/src/payment-stripe/dto/payment-stripe-basket.dto.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: type donation on payment
  apps/raise/src/donor/enum/donation-type.enum.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: donor log & payment stripe
  apps/raise/src/donation/schema/donation_log.schema.ts
  apps/raise/src/donor/donor.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: duplicate donation in cart & update donor history
  apps/raise/src/donor/donor.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: ask for edit request, acc edit requests
  apps/raise/README.md
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-appointment/appointment/controllers/tender-appointment.controller.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/create-client-bank-information.dto.ts
  apps/raise/src/tender-user/client/interfaces/update-bank-info-payload.interface.ts
  apps/raise/src/tender-user/client/mappers/edit_request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/client/types/index.ts
  apps/raise/src/tender-user/client/utils/add-logs.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/dtos/requests/update-user.dto.ts
  apps/raise/src/tender-user/user/mappers/update-user.mapper.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change upload limit from 1mb to 512mb
  apps/raise/src/tender/tender.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] fixing the value of the accreditation_type in the supervisor avvepting form
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FirstForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

chore: fix donor history in orgpages, auth register
  apps/raise/src/donor/donor.service.ts
  apps/raise/src/gs-user/services/gs-user.service.ts
  apps/raise/src/organization/organization.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: value data for insight page
  apps/raise/src/donation/schema/donation-log.schema.ts
  apps/raise/src/donor/donor.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

refactor: get summary insight page
  apps/raise/src/organization/organization.controller.ts
  apps/raise/src/organization/organization.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

[Fix] fixing some typos and adding the reject modal to the facilitated grant supervisor
  apps/pwa/src/CreateClient.tsx
  apps/pwa/src/_mock/region.ts
  apps/pwa/src/components/modal-dialog/index.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/pages/auth/Login.tsx
  apps/pwa/src/queries/project-supervisor/ProposalRejectBySupervisorFacilitateGrant.ts
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/ConsultantFloatingActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/ActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/FloatinActionBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/form-data.ts
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsAction.tsx
  apps/pwa/src/utils/urql.js
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*
