Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*

feat: setting new organizations
  apps/raise/src/auth/guards/jwt.guard.ts
  apps/raise/src/auth/guards/permissions.guard.ts
  apps/raise/src/campaign/controllers/campaign.controller.ts
  apps/raise/src/campaign/services/campaign.service.ts
  apps/raise/src/organization/mappers/organization.mappers.ts
  apps/raise/src/organization/organization.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: wip vat
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequestsWithVat.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/paths.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix auth, organization, and paytabs #1
  apps/raise/src/auth/services/auth.service.ts
  apps/raise/src/gs-auth/services/gs-auth.service.ts
  apps/raise/src/libs/fusionauth/dtos/response/validate-jwt-response.ts
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/organization/schema/organization.schema.ts
  apps/raise/src/payment-paytabs/dto/payment-paytabs.dto.ts
  apps/raise/src/payment-paytabs/payment-paytabs.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: translation, wokrournd: Supervisor | partial support needs to be less than full amount
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/client/AmandementRequestProposal.tsx
  apps/pwa/src/pages/client/AmandementRequest.tsx
  apps/pwa/src/sections/project-details/PrintProposal.tsx
  apps/pwa/src/sections/project-details/action-bar-taps.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: transaltion on notification
  apps/raise/src/tender-proposal/tender-proposal-follow-up/mappers/follow-up-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/close-report-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/new-amandement-notif-mapper.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: Supervisor | partial support needs to be less than full amount
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: selected menu in finance exchange permission with vat
  apps/pwa/src/components/card-table/CardTableByBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/nav-section/index.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequestsWithVat.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: refactor project path
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-manager/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: patrial and fullsupport acc consultaion track
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: refactor for fetching proposal condition vat in finance
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/finance/IncomingExchangePermissionRequestsWithVat.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

refactor: FusionAuth config and urql-JWT
  apps/pwa/package.json
  apps/pwa/src/CreateClient.tsx
  apps/pwa/src/config.ts
  apps/pwa/src/contexts/JWTContext.tsx
  apps/pwa/src/utils/jwt.ts
  apps/pwa/src/utils/urql.js
  yarn.lock
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: Upgrade prisma
  apps/raise/package.json
  yarn.lock
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: refactor acc for supervisor and the validation, do translation, fix: project path, fix: handle snackbar for error
  apps/pwa/src/@types/supervisor-accepting-form.ts
  apps/pwa/src/components/card-table/CardTableByBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/modal-dialog/RejectionModal.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/types.ts
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ClientClosingReport.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ClientProposalLog.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ProjectManager.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGeneral.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: New Added - Project Path Client
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/form-data.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ClientClosingReport.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: PROD | Project Path UI need fix
  apps/pwa/src/components/card-table/CardTableByBE.tsx
  apps/pwa/src/components/card-table/searching/CardTableSearching.tsx
  apps/pwa/src/components/card-table/searching/FilterModalSearch.tsx
  apps/pwa/src/components/sorting/sorting.tsx
  apps/pwa/src/pages/accounts-manager/MainManagerPage.tsx
  apps/pwa/src/pages/amandement-request/forms/AmandementForms.tsx
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: All Roles | No data text translate
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/client/dashboard/IncomingClientCloseReport.tsx
  apps/pwa/src/sections/client/dashboard/ListAmandementRequest.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: Admin | Track page needs translate & New Added - All Roles | Translate Sort By
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/admin/transaction-progression/AddNewTrack.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add timeline payload on send amandement, saving notes form pm,fix timeline deleted when updating proposal
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-amandement.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: workaround Add and Detail Project Timeline
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/forms/AmandementForms.tsx
  apps/pwa/src/pages/client/AmandementRequest.tsx
  apps/pwa/src/sections/client/funding-project-request/amandement-project/AmandementClientForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ProjectTimeLine.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: test rebuild
  apps/raise/src/organization/organization.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: rebuild, comment span processor
  apps/raise/src/traces.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: Cannot accept proposal (Supervisor),Blank page Payment tab on Cashier, Project Manager and CEO edit notes bug on project budget field, Infinite loading on CEO when accepting
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/AcceptedForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: email notif raw to ararbic on acc, retrigger build backend on prod
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

build: ensure Dockerfile COPY not failed: https://stackoverflow.com/a/70097693/122441
  .gitlab-ci.yml
Due: none

fix: New Added - All Roles | Receipt uploaded by Cashier and file by Finance must shown on all roles
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: Yarn update
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  package.json
Due: none

feat: retrigger build after hendy fix
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: disabled field in project time line in creating new proposal
  apps/pwa/src/sections/client/funding-project-request/forms/ProjectTimeLine.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

re-build
  apps/pwa/src/sections/client/funding-project-request/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

changes on yarrn lock
  yarn.lock
Due: none

push force
  apps/raise/README.md
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

build: docker build error fix attempt
  .gitlab-ci.yml
  apps/raise/README.md
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

build: docker build error fix attempt 2
  .gitlab-ci.yml
  apps/raise/README.md
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: project timeline error, feat: project timeline, fix:required field in acc modal supervisor pm ceo, feat: project beneficaries in create new proposal and closing reeport proposal
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/forms/AmandementForms.tsx
  apps/pwa/src/sections/admin/beneficiaries/index.tsx
  apps/pwa/src/sections/client/funding-project-request/amandement-project/AmandementClientForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/project-report/forms/SubmitProjectReportForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: settings appearance for new organization
  apps/raise/src/organization/dto/appearance.dto.ts
  apps/raise/src/organization/mappers/apperance.mappers.ts
  apps/raise/src/organization/organization.controller.ts
  apps/raise/src/organization/organization.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat:Payment Finance and Cashier
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: Datadog RUM
  apps/pwa/package.json
  apps/pwa/src/index.tsx
  apps/pwa/src/utils/datadog-rum.ts
  yarn.lock
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: Datadog RUM, force deploy pwa
  .gitlab-ci.yml
  apps/pwa/README.md
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: ESlint VScode config
  .vscode/settings.json
Due: none
