Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build tmra-raise:
  stage: build
  needs: []
  script:
  - cd apps/raise
  - yarn --immutable
  - yarn build
  - '[ -f "dist/main.js" ] || { ls -F dist/; echo "Error: Build was invalid. apps/raise/dist/main.js must exist after build! Hint: Make sure you only use src/ folder."; exit 1; }'
  artifacts:
    paths:
    - package.json
  ...

build tmra-pwa dev:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: dev
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa qc:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: qc
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa staging:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: staging
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa prod:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: prod
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

publish tmra-raise to non-prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-raise to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to dev:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa dev
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to qc:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa qc
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to staging:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa staging
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa prod
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

feat: fix state on log when amandement send and revised, make notes required when send amandement
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-amandement.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-revision.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:notes required when send back in all role, add option in sendback consultant
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListRow.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
  apps/pwa/src/components/table/ceo/client-list/types.ts
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementTable.tsx
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/ceo/CeoClientListPage.tsx
  apps/pwa/src/queries/ceo/getAllClientsData.ts
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/sections/ceo/ceo-clientlist/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix bug mobile number already exist in sign up form for client, change arabic name for step 3 in signUp, workaround project path case (send back to revision)
  apps/pwa/src/@types/register.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/forms/AmandementForms.tsx
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/amandement-project/AmandementClientForm.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: notes on amandement proposal log
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add:page client list to ceo, project manager, and super admin
  apps/pwa/public/assets/icons/dashboard-navbar/client-list.svg
  apps/pwa/src/components/table/ceo/client-list/ClientListRow.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
  apps/pwa/src/components/table/ceo/client-list/types.ts
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/admin/ClientsList.tsx
  apps/pwa/src/pages/project-manager/ClientsList.tsx
  apps/pwa/src/queries/ceo/getAllClientsData.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/routes/admin-route.tsx
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/routes/consultant-route.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/moderator-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/admin/main/Settings.tsx
  apps/pwa/src/sections/project-details/project-owner-details/ProjectOwnerDetailsMainPage.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add:translate arabic for filter in client list page
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/ceo/getAllClientsData.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix, handle project path for case send back for revision to client
  apps/pwa/src/sections/amandement-request/proposal/ActionButtonAmandementProposal.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:navigate view details in client list, delete checkbox in client list
  apps/pwa/src/components/table/ceo/client-list/ClientListRow.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: implements request password reset with template, fix payload and error on send amandement
  apps/raise/src/app.module.ts
  apps/raise/src/commons/configs/tender-app-config.ts
  apps/raise/src/libs/email/templates/tender/en/account/account_deactivation.hbs
  apps/raise/src/libs/email/templates/tender/en/account/forget_password.hbs
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/tender-auth/controllers/tender-auth.controller.ts
  apps/raise/src/tender-auth/dtos/requests/forgot-password-request.dto.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change sender to no-reply@hcharity.org for sending forgot password
  apps/raise/src/tender-auth/services/tender-auth.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change findunique to find first
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: try to extend lifetime of the prisma trans, add more logs
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add: new feature for account manager partner management
  apps/pwa/public/assets/icons/confirmation_deactivate_account.svg
  apps/pwa/public/assets/icons/confirmation_information.svg
  apps/pwa/public/assets/icons/confirmation_reset_password.svg
  apps/pwa/src/components/card-table/CardTableNoData.tsx
  apps/pwa/src/components/confirmation-modals/index.tsx
  apps/pwa/src/components/table/TableAMCustom.tsx
  apps/pwa/src/components/table/TableRowsData.tsx
  apps/pwa/src/components/table/type.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/accounts-manager/MainManagerPage.tsx
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/pages/accounts-manager/partner/management.tsx
  apps/pwa/src/queries/account_manager/clientNewRequest.ts
  apps/pwa/src/queries/account_manager/partnerManagement.ts
  apps/pwa/src/routes/accounts-manager-route.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/ContactAccordion.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: data is not relevan in client list, notes in acc proposal is not required, fix detail proposal when opened from view detail
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/queries/ceo/getAllClientsData.ts
  apps/pwa/src/routes/admin-route.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/sections/project-details/project-owner-details/ProjectOwnerDetailsMainPage.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: finish forgot password submit and forgot paswword request, enable checking before suspending user
  apps/raise/src/libs/email/templates/tender/en/account/forget_password.hbs
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-auth/controllers/tender-auth.controller.ts
  apps/raise/src/tender-auth/dtos/requests/submit-change-password.dto.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: new feature for account manager partner management #2
  apps/pwa/src/components/confirmation-modals/index.tsx
  apps/pwa/src/components/table/TableRowsData.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/accounts-manager/new/join-request.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:project detail from viewdetail client in admin, show notes in supervisor when send back
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListRow.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/sections/project-details/action-bar-taps.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix handle change color for revised record in project details roles supervisor
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: date created in project card
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/table/ceo/client-list/ClientListRow.tsx
  apps/pwa/src/components/table/ceo/client-list/types.ts
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/Moderator/gettingIncomingRequests.ts
  apps/pwa/src/queries/Moderator/gettingPreviousRequests.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-supervisor/gettingPaymentAdjustment.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: make submit forgot password public
  apps/raise/src/auth/dtos/reg-request-tender.dto.ts
  apps/raise/src/tender-auth/controllers/tender-auth.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: build error
  apps/raise/src/auth/dtos/index.ts
  apps/raise/src/user/user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bug phone number field, exclude page message when client or employee in condition InActiveAccount
  apps/pwa/src/components/button/ButtonDownloadFiles.tsx
  apps/pwa/src/layouts/dashboard/index.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:filter track in CEO, filename and extension is not show in follow up
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsFile.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: conencting suspended account email
  apps/raise/src/libs/email/templates/tender/ar/proposal/project_followup.hbs
  apps/raise/src/libs/email/templates/tender/en/account/account_deactivation.hbs
  apps/raise/src/tender-commons/dto/common-notif-mapper-response.dto.ts
  apps/raise/src/tender-notification/services/tender-notification.service.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-user/user/dtos/responses/user-status-log-response.dto.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: reset_password for feature account manager
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/auth/NewResetPassword.tsx
  apps/pwa/src/routes/auth-route.tsx
  apps/pwa/src/sections/auth/reset-password/NewResetPaswordForm.tsx
  apps/pwa/src/sections/auth/reset-password/index.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: function and data on supervisor grant
  apps/pwa/src/components/button/ButtonDownloadFiles.tsx
  apps/pwa/src/components/hook-form/RHFRadioGroup.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/SecondForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/form-data.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
  apps/pwa/src/sections/project-details/taps-pages/ProjectBudget.tsx
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/supervisor-change-state.dto.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: row table in client list
  apps/pwa/src/components/table/ceo/client-list/ClientListRow.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
  apps/pwa/src/queries/ceo/getAllClientsData.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat workaround send message from account manager to client with status deactive or suspend
  apps/pwa/src/_mock/authority.ts
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/queries/account_manager/detailsClientData.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: create ask edit request to supervisor, fetch ask edit request list
  apps/raise/src/libs/email/templates/tender/ar/account/acccount_created.hbs
  apps/raise/src/libs/email/templates/tender/ar/appointment/appointment_invitation.hbs
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/ask-amandement-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-amandement-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/create-proposal-asked-edit-request.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: payment set validation adjustment
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

translation throw error, add adjustment for list on send amandement for all roles
  apps/raise/src/libs/email/templates/tender/AR/account/account_created.hbs
  apps/raise/src/libs/email/templates/tender/AR/appointment/appointment_invitation.hbs
  apps/raise/src/libs/email/templates/tender/AR/proposal/project_approved.hbs
  apps/raise/src/libs/email/templates/tender/AR/proposal/project_declined.hbs
  apps/raise/src/libs/email/templates/tender/AR/proposal/project_followup.hbs
  apps/raise/src/libs/email/templates/tender/EN/account/account_created.hbs
  apps/raise/src/libs/email/templates/tender/EN/account/account_deactivation.hbs
  apps/raise/src/libs/email/templates/tender/EN/account/forget_password.hbs
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-commons/dto/common-notification-mapper-response.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

translation throw error, add adjustment for list on send amandement for all roles
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: buid error missing comma
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add:search and filtering, change all arabic like in notion table
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/message/modal-form/FilterModalMessage.tsx
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/layouts/dashboard/header/index.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
  apps/pwa/src/sections/auth/reset-password/ResetPasswordForm.tsx
  apps/pwa/src/sections/cashier/main/DailyStatistics.tsx
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/DailyStatistics.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/TrackBudget.tsx
  apps/pwa/src/sections/client/dashboard/Statistic.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/consultant/main/DailyStatistics.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/DailyStatistics.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfileEditForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-manager/main/DailyStatistics.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-manager/main/TrackBudget.tsx
  apps/pwa/src/sections/project-supervisor/main/DailyStatistics.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/TrackBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat employee request an amandement proposal to supervisor
  apps/pwa/src/@types/commons.ts
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/modal-dialog/ConfirmationModal.tsx
  apps/pwa/src/components/table/ceo/proposal-on-amandement/AmandementListRow.tsx
  apps/pwa/src/components/table/ceo/proposal-on-amandement/ProposalOnAmandementTable.tsx
  apps/pwa/src/components/table/ceo/proposal-on-amandement/types.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/AmandementRequest.tsx
  apps/pwa/src/pages/amandement-request/client/AmandementRequestProposal.tsx
  apps/pwa/src/queries/ceo/getProposalOnAmandement.ts
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
  apps/pwa/src/sections/consultant/main/Main.tsx
  apps/pwa/src/sections/consultant/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-details/ProjectStatus.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/Main.tsx
  apps/pwa/src/sections/project-manager/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingAmandementRequest.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat direct message to client (owner of proposal) in ceo, consultant, projenct-mananger, supervisor grants, moderator
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add:button search and translate arabic in searching component
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: portal reports employee effectiveness
  apps/pwa/src/components/EmptyContent.tsx
  apps/pwa/src/components/table/TableRowsEmployee.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/portal-reports/AchievementEffectiveness.tsx
  apps/pwa/src/sections/portal-reports/AverageTransactions.tsx
  apps/pwa/src/sections/portal-reports/HeaderTabs.tsx
  apps/pwa/src/sections/portal-reports/TableEmployee.tsx
  apps/pwa/src/sections/portal-reports/types.ts
  apps/pwa/src/utils/formatTime.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*
