Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*

try fix build
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/BookingAMeetingWothClient.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  yarn.lock
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: find track budgets
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/create-track-budget.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/delete-track-budget.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/find-track-budget-filter.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: track_budget add budget
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/admin/track-budget/AddNewBudget.tsx
  apps/pwa/src/sections/admin/track-budget/Track.tsx
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/CheckBoxSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/EditSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/Section.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/SectionTracks.tsx
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP appointment, create appointment request, handle nullable field my-profile in client
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/pages/project-supervisor/GetAuthCode.tsx
  apps/pwa/src/routes/get-auth-code.tsx
  apps/pwa/src/routes/index.tsx
  apps/pwa/src/sections/client/appointments/Appointments.tsx
  apps/pwa/src/sections/client/appointments/adjust-your-time/AdjustClentAvailableTime.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/BookingAMeetingWothClient.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/GetAuthCode.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/StepOne.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix handle when fetching client_data in my-profile client
  apps/pwa/src/pages/client/ClientProfile.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:request in process and previous request in all role
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/pages/cashier/PreviousFundingRequests.tsx
  apps/pwa/src/pages/cashier/RequestsInProcess.tsx
  apps/pwa/src/pages/finance/PreviousFundingRequests.tsx
  apps/pwa/src/pages/project-manager/ExchangePermission.tsx
  apps/pwa/src/pages/project-manager/PreviousFundingRequests.tsx
  apps/pwa/src/pages/project-supervisor/PaymentAdjustment.tsx
  apps/pwa/src/pages/project-supervisor/PreviousFundingRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/action-bar-taps.ts
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat update en.ts & ar.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:popup notif update information for client, fix minor
  apps/pwa/src/pages/cashier/PreviousFundingRequests.tsx
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/sections/client/dashboard/UnActivatedAccount.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP track budget card for CEO
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/project-supervisor/getTrackBudget.ts
  apps/pwa/src/sections/ceo/ceo-dashboard/TrackBudget.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/TrackCardBudget.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat fetching appointments for client
  apps/pwa/src/@types/appointment.ts
  apps/pwa/src/components/modal-dialog/RejectionModal.tsx
  apps/pwa/src/components/table/appointment/client/AppointmentsRow.tsx
  apps/pwa/src/components/table/appointment/client/AppointmentsTable.tsx
  apps/pwa/src/components/table/appointment/client/appointments.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/client/appointments/Appointments.tsx
  apps/pwa/src/sections/client/appointments/appointments-requests/AppointmentsRequests.tsx
  apps/pwa/src/sections/client/appointments/appointments-tabel/AppointmentsTap.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/StepOne.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat fetching appointments for supervisor, adjustment project path for complete proposal
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/client/appointments/Appointments.tsx
  apps/pwa/src/sections/client/appointments/appointments-tabel/AppointmentsTap.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat handle remove userId from localstorage
  apps/pwa/src/layouts/dashboard/navbar/NavbarVertical.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: bug
  apps/pwa/src/sections/admin/track-budget/AddNewBudget.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/AddNewSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/CheckBoxSection.tsx
  apps/pwa/src/sections/client/dashboard/IncomingClientCloseReport.tsx
  apps/pwa/src/sections/project-details/floating-close-report/FloatingSpv.tsx
  apps/pwa/src/sections/project-details/taps-pages/Payments.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: track budgets in admin dashboard
  apps/pwa/src/sections/admin/main/Main.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:sorting card in previous after click details, add payment tab in project details of project manager, add status for each card in previous
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/project-manager/PreviousFundingRequests.tsx
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/project-details/action-bar-taps.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

handle blank page clientProfile in role Client
  apps/pwa/src/pages/client/ClientProfile.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: ask forgot password url
  apps/raise/src/libs/google-calendar/google-calendar.service.ts
  apps/raise/src/libs/google-oauth2/google-oauth2.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-auth/controllers/tender-auth.controller.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

re-handle blank page clientProfile
  apps/pwa/src/components/confirmation-modals/index.tsx
  apps/pwa/src/components/table/TableRowsData.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ClientProfile.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: retrigger pipeline
  apps/raise/src/tender-user/client/mappers/user-client-data.mapper.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: bug track budget prod
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:bug cannot set supervisor id in role supervisor
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix Bug mentioned in notion consume api for generate link forget password
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/confirmation-modals/index.tsx
  apps/pwa/src/components/table/TableRowsData.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: update for track budgets
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/project-supervisor/getTrackBudget.ts
  apps/pwa/src/sections/admin/track-budget/Track.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/EditSection.tsx
  apps/pwa/src/sections/admin/track-budget/section-track/Section.tsx
  apps/pwa/src/sections/project-manager/main/Main.tsx
  apps/pwa/src/sections/project-manager/main/TrackBudget.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
  apps/pwa/src/sections/project-supervisor/main/TrackBudget.tsx
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/delete-track-budget.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/update-track-budget.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:translate arabic for path of supervisor grants,hide 2 field in supervisor form, change logo tender
  apps/pwa/src/assets/new_logo.svg
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/layouts/dashboard/navbar/NavbarVertical.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/auth/Login.tsx
  apps/pwa/src/pages/project-supervisor/IncomingFundingRequests.tsx
  apps/pwa/src/pages/project-supervisor/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix bug
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
  apps/pwa/src/sections/project-manager/main/TrackBudget.tsx
  apps/pwa/src/sections/project-supervisor/main/TrackBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: try multiple interceptor files
  apps/raise/src/libs/bunny/services/bunny.service.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-interceptor.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: add permission on proposal fetch by id
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

check handle filesize funding request
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Workaround change project id with project number in all project card, bug fixing
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/layouts/dashboard/navbar/NavbarVertical.tsx
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
  apps/pwa/src/pages/project-supervisor/RequestsInProcess.tsx
  apps/pwa/src/queries/client/clientMainPage.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/client/dashboard/IncomingClientCloseReport.tsx
  apps/pwa/src/sections/client/dashboard/ListAmandementRequest.tsx
  apps/pwa/src/sections/client/dashboard/PreviousFundingInqueries.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/SecondStep.tsx
  apps/pwa/src/sections/project-supervisor/appintments-with-partner/index.tsx
  apps/pwa/src/utils/generateProposalNumber.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix all notif on acc and reject proposal, umar generate reset pass link, fix all log actions
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-interceptor.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change to proposal action enum
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:rejection flow for project manager and ceo, add previous funding request in sidebar ceo, fix previous funding request in moderator
  apps/pwa/public/favicon/tender-newlogo.png
  apps/pwa/public/index.html
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListTable.tsx
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/pages/ceo/PreviousFundingRequests.tsx
  apps/pwa/src/pages/moderator/previous-support-requests/index.tsx
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
  apps/pwa/src/queries/ceo/getRejectedProjects.ts
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Workaround change project id with project number in all project card, bug fixing
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix Bug
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/searching/CardSearching.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListRow.tsx
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListTable.tsx
  apps/pwa/src/components/table/ceo/rejection-list/types.ts
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/Moderator/gettingIncomingRequests.ts
  apps/pwa/src/queries/Moderator/gettingPreviousRequests.ts
  apps/pwa/src/queries/ceo/get-project-list.ts
  apps/pwa/src/queries/ceo/getDailyStatisticCeo.ts
  apps/pwa/src/queries/ceo/getRejectedProjects.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/consultant/getDailyConsultantStatistics.ts
  apps/pwa/src/queries/project-manager/getDailyProjectManagerStatistics.ts
  apps/pwa/src/queries/project-supervisor/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-supervisor/gettingPaymentAdjustment.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/ceo/ceo-project-management/index.tsx
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/client/dashboard/IncomingClientCloseReport.tsx
  apps/pwa/src/sections/client/dashboard/PreviousFundingInqueries.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/consultant/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingAmandementRequest.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingCloseReport.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
  apps/pwa/src/utils/generateProposalNumber.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: schema nullable
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix handle show details project details
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: renew schema
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix handle show details project details
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod
