Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*

[Messaging System Updated]
  apps/pwa/package.json
  apps/pwa/src/@types/wschat.ts
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/index.tsx
  apps/pwa/src/components/message/menu/MessageMenu.tsx
  apps/pwa/src/components/message/menu/MessageMenuItem.tsx
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
  apps/pwa/src/components/nav-section/vertical/NavList.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/messages/getListConversations.ts
  apps/pwa/src/queries/messages/getListMessageByRoom.ts
  apps/pwa/src/redux/slices/wschat.ts
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/utils/urql.js
  yarn.lock
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: chat zzz
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: user list in create new message
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: url websocket for urql setting
  apps/pwa/src/utils/urql.js
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: real time state in messaging system
  apps/pwa/src/@types/auth.ts
  apps/pwa/src/CreateClient.tsx
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/index.tsx
  apps/pwa/src/contexts/JWTContext.tsx
  apps/pwa/src/layouts/dashboard/navbar/NavbarVertical.tsx
  apps/pwa/src/sections/auth/login/LoginForm.tsx
  apps/pwa/src/utils/urql.js
  apps/raise/src/tender-statistics/statistics.controller.ts
  apps/raise/src/tender-statistics/statistics.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: real time messaging #2
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/@types/wschat.ts
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/index.tsx
  apps/pwa/src/components/message/menu/MessageMenu.tsx
  apps/pwa/src/components/message/menu/MessageMenuItem.tsx
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
  apps/pwa/src/components/message/type.ts
  apps/pwa/src/layouts/dashboard/index.tsx
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/queries/messages/getListConversations.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: eslint
  apps/pwa/src/components/message/menu/MessageMenu.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: today message
  apps/pwa/src/components/message/content/MessageContent.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix] fixing the label of ceo accepting
  apps/pwa/src/queries/account_manager/partnerManagement.ts
  apps/pwa/src/queries/auth/createClient.ts
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Feat] adding the rejected projects page for CEO, Project Manager
  apps/pwa/src/components/hook-form/RHFAutocomplete.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListRow.tsx
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListTable.tsx
  apps/pwa/src/components/table/ceo/rejection-list/rejection-list.ts
  apps/pwa/src/components/table/ceo/rejection-list/types.ts
  apps/pwa/src/hooks/useTable.ts
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/pages/auth/ResetPassword.tsx
  apps/pwa/src/queries/ceo/get-my-rejection-list.ts
  apps/pwa/src/queries/ceo/getRejectedProjects.ts
  apps/pwa/src/queries/commons/getNonClientUserDetails.ts
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/sections/auth/reset-password/ResetPasswordForm.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
  apps/pwa/src/sections/ceo/ceo-rejection-list/index.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfile.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfileEdit.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfileEditForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/reject-project/index.tsx
  apps/pwa/src/theme/overrides/Button.ts
  apps/pwa/src/theme/typography.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix]
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

send edit request to the supervisor by finance, cashier, project manager. sending a pending request by supervisor.
  apps/pwa/src/@types/project-details.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/AmandementRequest.tsx
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/PendingProposalRequestSending.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

[Fix] forcing the pipline to re-build
  apps/pwa/README.md
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: refactor dto on register, calculate timegap between schedule, validate 12 hour time, saving appointment data
  apps/raise/README.md
  apps/raise/src/libs/google-calendar/google-calendar.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-appointment/appointment/controllers/tender-appointment.controller.ts
  apps/raise/src/tender-appointment/appointment/dtos/requests/appointment-filter-request.dto.ts
  apps/raise/src/tender-appointment/appointment/dtos/requests/create-appointment.dto.ts
  apps/raise/src/tender-appointment/appointment/dtos/requests/search-client-filter-request.dto.ts
  apps/raise/src/tender-appointment/appointment/repositories/tender-appointment.repository.ts
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-appointment/schedule/controllers/tender-schedule.controller.ts
  apps/raise/src/tender-appointment/schedule/dtos/requests/create-schedule-request.dto.ts
  apps/raise/src/tender-appointment/schedule/dtos/responses/create-schedule-response.dto.ts
  apps/raise/src/tender-appointment/schedule/dtos/responses/get-my-schedule-response.dto.ts
  apps/raise/src/tender-appointment/schedule/mappers/create-schedule.mapper.ts
  apps/raise/src/tender-appointment/schedule/repositories/tender-schedule.repository.ts
  apps/raise/src/tender-appointment/schedule/services/tender-schedule.service.ts
  apps/raise/src/tender-appointment/types/index.ts
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-commons/decorators/validate-12hour-time-format.decorator.ts
  apps/raise/src/tender-commons/utils/get-time-gap.ts
  apps/raise/src/tender-commons/utils/prisma-error-thrower.ts
  apps/raise/src/tender-commons/utils/time-compare.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/dtos/requests/search-user-filter-request.dto.ts
  apps/raise/src/tender-user/user/dtos/responses/find-user-response.dto.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

docs: update read me
  README.md
Due: none

fix: WIP change for daily status query
  apps/pwa/src/queries/consultant/getDailyConsultantStatistics.ts
  apps/pwa/src/queries/project-manager/getDailyProjectManagerStatistics.ts
  apps/pwa/src/queries/project-supervisor/getDailyStatistics.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: typo for statistic API Response
  apps/raise/src/tender-statistics/statistics.module.ts
  apps/raise/src/tender-statistics/statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: respond to invitation
  apps/raise/src/libs/google-calendar/google-calendar.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-appointment/appointment/controllers/tender-appointment.controller.ts
  apps/raise/src/tender-appointment/appointment/dtos/requests/appointment-filter-request.dto.ts
  apps/raise/src/tender-appointment/appointment/dtos/requests/create-appointment.dto.ts
  apps/raise/src/tender-appointment/appointment/dtos/requests/response-invitation.dto.ts
  apps/raise/src/tender-appointment/appointment/repositories/tender-appointment.repository.ts
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-auth/guards/tender-jwt.guard.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: add twilio, create base library on libs, config and validate env, create base for statistic budget-info
  apps/raise/package.json
  apps/raise/src/app.module.ts
  apps/raise/src/campaign/services/campaign.service.ts
  apps/raise/src/commons/configs/gapi-config.ts
  apps/raise/src/commons/configs/twilio-config.ts
  apps/raise/src/libs/email/email.service.ts
  apps/raise/src/libs/twilio/dtos/requests/send-sms.dto.ts
  apps/raise/src/libs/twilio/services/twilio.service.ts
  apps/raise/src/libs/twilio/twilio.module.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/shared/shared.module.ts
  apps/raise/src/tender-appointment/appointment/controllers/tender-appointment.controller.ts
  apps/raise/src/tender-appointment/appointment/repositories/tender-appointment.repository.ts
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-email/services/tender-email.service.ts
  apps/raise/src/tender-notification/tender-notification.module.ts
  apps/raise/src/tender-statistics/controllers/tender-statistics.controller.ts
  apps/raise/src/tender-statistics/dtos/requests/get-budget-info.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
  apps/raise/src/tender-statistics/statistics.controller.ts
  apps/raise/src/tender-statistics/statistics.module.ts
  apps/raise/src/tender-statistics/tender-statistics.module.ts
  yarn.lock
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: re alter schema for notification, create and createmany for notification, generate report for beneficiaries
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-appointment/schedule/repositories/tender-schedule.repository.ts
  apps/raise/src/tender-notification/controllers/tender-notification.controller.ts
  apps/raise/src/tender-notification/dtos/requests/create-many-notification.dto.ts
  apps/raise/src/tender-notification/dtos/requests/create-notification.dto.ts
  apps/raise/src/tender-notification/mappers/create-many-notification.mapper.ts
  apps/raise/src/tender-notification/mappers/create-notification.mapper.ts
  apps/raise/src/tender-notification/repository/tender-notification.repository.ts
  apps/raise/src/tender-notification/services/tender-notification.service.ts
  apps/raise/src/tender-notification/tender-notification.module.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-statistics/controllers/tender-statistics.controller.ts
  apps/raise/src/tender-statistics/dtos/requests/base-statistic-filter.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-beneficiaries-report.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-beneficiaries-data-response.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

WIP: portal reports
  apps/pwa/src/components/card-table/CardTableBE.tsx
  apps/pwa/src/components/card-table/LoadingPage.tsx
  apps/pwa/src/components/chart/BarChart.tsx
  apps/pwa/src/components/chart/DonutChart.tsx
  apps/pwa/src/components/chart/types.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/moderator/PortalReports.tsx
  apps/pwa/src/queries/Moderator/gettingIncomingRequests.ts
  apps/pwa/src/sections/portal-reports/EmptyChart.tsx
  apps/pwa/src/sections/portal-reports/HeaderTabs.tsx
  apps/pwa/src/sections/portal-reports/PartnersInformation.tsx
  apps/pwa/src/sections/portal-reports/ProjectBenidiciaresKinds.tsx
  apps/pwa/src/sections/portal-reports/ProjectsInformation.tsx
  apps/pwa/src/sections/portal-reports/ProjectsNumbers.tsx
  apps/pwa/src/sections/portal-reports/index.tsx
  apps/pwa/src/sections/portal-reports/mock-data.ts
  apps/pwa/src/sections/portal-reports/types.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

making sure for beneficiaries that data is correct, and re factor logic also response for get partner statistic
  apps/raise/src/tender-statistics/controllers/tender-statistics.controller.ts
  apps/raise/src/tender-statistics/dtos/responses/get-partner-statistic.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-partner-datas.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-status.datas.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: wip google signin and sign up for tmra, fix: beneficiers and partner report filtering, also change response for it
  apps/raise/src/auth/auth.module.ts
  apps/raise/src/auth/controllers/auth.controller.spec.ts
  apps/raise/src/auth/controllers/auth.controller.ts
  apps/raise/src/auth/decorator/cluster-roles.decorator.ts
  apps/raise/src/auth/decorator/permissions.decorator.ts
  apps/raise/src/auth/dtos/requests/handle-google-callback.dto.ts
  apps/raise/src/auth/guards/cluster-roles.guard.ts
  apps/raise/src/auth/guards/jwt.guard.ts
  apps/raise/src/auth/guards/permissions.guard.ts
  apps/raise/src/auth/services/auth.service.spec.ts
  apps/raise/src/auth/services/auth.service.ts
  apps/raise/src/campaign/controllers/campaign.controller.ts
  apps/raise/src/comments/comments.controller.ts
  apps/raise/src/commons/configs/tmra-gapi-config.ts
  apps/raise/src/donor/donor.controller.ts
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/libs/google-oauth2/google-oauth2.service.ts
  apps/raise/src/operator/operator.controller.ts
  apps/raise/src/organization/organization.controller.ts
  apps/raise/src/permission-manager/permission-manager.controller.ts
  apps/raise/src/project/project.controller.ts
  apps/raise/src/tender-appointment/appointment/controllers/tender-appointment.controller.ts
  apps/raise/src/tender-auth/guards/google-calendar-auth.guard.ts
  apps/raise/src/tender-email/controllers/tender-email.controller.ts
  apps/raise/src/tender-email/services/tender-email.service.ts
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-statistics/dtos/requests/base-statistic-filter.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-partner-statistic.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
  apps/raise/src/tender-track/track.service.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/user/user.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

WIP: add tab project, partners, budget info for portal reports
  apps/pwa/src/components/chart/BarChart.tsx
  apps/pwa/src/components/chart/DonutChart.tsx
  apps/pwa/src/components/chart/types.ts
  apps/pwa/src/components/line-charts/LineCharts.tsx
  apps/pwa/src/hooks/useLocales.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/ceo/ceo-dashboard/TrackBudget.tsx
  apps/pwa/src/sections/portal-reports/CardBudgetInfoTracks.tsx
  apps/pwa/src/sections/portal-reports/EmptyChart.tsx
  apps/pwa/src/sections/portal-reports/HeaderTabs.tsx
  apps/pwa/src/sections/portal-reports/MosqueTrack.tsx
  apps/pwa/src/sections/portal-reports/PartnersInformation.tsx
  apps/pwa/src/sections/portal-reports/ProjectBenidiciaresKinds.tsx
  apps/pwa/src/sections/portal-reports/ProjectBenificiares.tsx
  apps/pwa/src/sections/portal-reports/ProjectsInformation.tsx
  apps/pwa/src/sections/portal-reports/types.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: portal reports section 4, top statsiti
  apps/raise/src/tender-statistics/controllers/tender-statistics.controller.ts
  apps/raise/src/tender-statistics/dtos/requests/base-statistic-filter.dto.ts
  apps/raise/src/tender-statistics/dtos/requests/get-budget-info.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-average-transaction-response.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-execution-time-data-response.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: google login for tmra, web and email notif for proposal event
  apps/raise/src/auth/services/auth.service.ts
  apps/raise/src/libs/email/dtos/requests/send-email.dto.ts
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/libs/google-oauth2/dtos/responses/user-info.dto.ts
  apps/raise/src/libs/google-oauth2/google-oauth2.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-notification/dtos/requests/create-notification.dto.ts
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/create-proposal-notification.dto.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-log.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: tab budget info & tab achievement on portal reports, and fix messaging system
  apps/pwa/src/@types/wschat.ts
  apps/pwa/src/components/line-charts/LineCharts.tsx
  apps/pwa/src/components/line-charts/LineCharts.types.ts
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/menu/MessageMenu.tsx
  apps/pwa/src/components/message/menu/MessageMenuItem.tsx
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
  apps/pwa/src/layouts/dashboard/index.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/messages/getListConversations.ts
  apps/pwa/src/sections/admin/users-and-permissions/list/UsersAndPermissionsTableRow.tsx
  apps/pwa/src/sections/portal-reports/AverageTransactions.tsx
  apps/pwa/src/sections/portal-reports/CardBudgetInfoTracks.tsx
  apps/pwa/src/sections/portal-reports/ComplexityTrack.tsx
  apps/pwa/src/sections/portal-reports/ConcessionalTrack.tsx
  apps/pwa/src/sections/portal-reports/HeaderTabs.tsx
  apps/pwa/src/sections/portal-reports/InitiativeTrack.tsx
  apps/pwa/src/sections/portal-reports/ProjectsInformation.tsx
  apps/pwa/src/sections/portal-reports/ProjectsNumbers.tsx
  apps/pwa/src/sections/portal-reports/types.ts
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: send notif twilio, send notif when moderator acc/reject
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/change-proposal-state.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/moderator-change-state.dto.ts
  apps/raise/src/tender-proposal/interfaces/proposal-logs-response.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-log.repository.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add: UI for project path
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add broadcast sms to testing twilio
  apps/raise/src/tender-appointment/appointment/controllers/tender-appointment.controller.ts
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender/controllers/tender.controller.ts
  apps/raise/src/tender/services/tender.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: acc and reject moderator, aslo add log and notif
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/interfaces/proposal-logs-response.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-log.repository.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: daily stat in moderator page, and fix translation
  apps/pwa/src/components/card-table/CardTable.tsx
  apps/pwa/src/components/card-table/CardTableBE.tsx
  apps/pwa/src/components/card-table/FilterModal.tsx
  apps/pwa/src/components/card-table/FilterModalBE.tsx
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/searching/CardTableSearching.tsx
  apps/pwa/src/components/message/modal-form/FilterModalMessage.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/pages/moderator/previous-support-requests/index.tsx
  apps/pwa/src/queries/Moderator/stactic.ts
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/project-details/ProjectStatus.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: acc reject for all roles except supervisor with notification
  apps/raise/src/tender-commons/types/index.ts
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/enum/adminRoles.enum.ts
  apps/raise/src/tender-proposal/enum/innerStatus.enum.ts
  apps/raise/src/tender-proposal/enum/outerStatus.enum.ts
  apps/raise/src/tender-proposal/enum/proposalAction.enum.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-proposal/tender-proposal.module.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: minor import issue
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/change-proposal-state.dto.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add:button count of pagination for each user
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/queries/Moderator/gettingPreviousRequests.ts
  apps/pwa/src/queries/client/gettingPreviousProposals.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/project-manager/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-manager/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-supervisor/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-supervisor/gettingPaymentAdjustment.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: acivating pivot table for user status, add notif on suspend cancel, etc..
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/raise/src/main.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/dtos/updateProposalByCmsUsers.dto.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/dtos/requests/user-status-update.dto.ts
  apps/raise/src/tender-user/user/dtos/responses/user-status-log-response.dto.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
  apps/raise/src/tender-user/user/types/user_status.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: list bank, phone code default on register page & fix translations
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/locales/i18n.ts
  apps/pwa/src/pages/auth/Login.tsx
  apps/pwa/src/pages/auth/ResetPassword.tsx
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/RegisterFormData.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/reset-password/ResetPasswordForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: refactor get partner statistic from user_status_log, refactored the logic
  apps/raise/src/main.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-partner-datas.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:change language to arabic
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/Page404.tsx
  apps/pwa/src/sections/project-details/ProjectStatus.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsAction.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
  apps/pwa/src/sections/project-details/taps-pages/Payments.tsx
  apps/pwa/src/sections/shared/BankImageComp.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: refactor logic for partner statistic by region and governorate
  apps/raise/src/tender-statistics/dtos/responses/get-partner-statistic.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-partner-datas.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod
