Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build tmra-raise:
  stage: build
  needs: []
  script:
  - cd apps/raise
  - yarn --immutable
  - yarn build
  - '[ -f "dist/main.js" ] || { ls -F dist/; echo "Error: Build was invalid. apps/raise/dist/main.js must exist after build! Hint: Make sure you only use src/ folder."; exit 1; }'
  artifacts:
    paths:
    - package.json
  ...

build tmra-pwa dev:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: dev
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa qc:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: qc
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa staging:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: staging
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa prod:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: prod
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

publish tmra-raise to non-prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-raise to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to dev:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa dev
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to qc:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa qc
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to staging:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa staging
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa prod
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

fix: move button add message and file follow ups to tabs, fixing notification error
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUps.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsAction.tsx
  apps/pwa/src/sections/project-details/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: marking color on bank_information on edit request, acc edit request
  apps/raise/src/tender-user/client/mappers/approve-edit-request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat accept edit request information from client to acc.manager, adjustment direction mobile field in apps
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/client/getProfileData.ts
  apps/pwa/src/sections/account_manager/edit-request-profile/ActionButtonEditRequest.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/client/profile/ClientUserEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfileEditForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add: client name in project card to all role
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUps.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsAction.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: finish reject edit request
  apps/raise/src/tender-commons/dto/final-upload-file-jsonb.dto.ts
  apps/raise/src/tender-user/client/mappers/approve-edit-request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/client/types/index.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix validation and required for sign-up, re-adjust direction in final page sign-up in tender apps
  apps/pwa/src/@types/register.ts
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/account_manager/edit-request-profile/ActionButtonEditRequest.tsx
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/RegisterFormData.tsx
  apps/pwa/src/sections/auth/register/final-page/AdministrativeInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/ConnectionInfo.tsx
  apps/pwa/src/sections/auth/register/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/UserInfoForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix bug translation, display format date, change laber for required field
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/final-page/LicenseInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/MainInfo.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:query proposal to add client name and employee for project card, translate to arabic
  apps/pwa/src/components/card-table/CardTable.tsx
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/hook-form/RHFSelectNoGen.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/cashier/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/cashier/RequestsInProcess.tsx
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/Moderator/gettingIncomingRequests.ts
  apps/pwa/src/queries/Moderator/gettingPreviousRequests.ts
  apps/pwa/src/queries/client/gettingPreviousProposals.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/project-supervisor/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: project path, payment setting number, and minor update components
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/form-data.ts
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix bank_information image on sign up, update portal report tab 4 first section
  apps/raise/src/tender-commons/utils/portal-report-convert-minutes-to-hour.ts
  apps/raise/src/tender-statistics/controllers/tender-statistics.controller.ts
  apps/raise/src/tender-statistics/dtos/responses/get-average-transaction.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-average-transaction.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/client/types/index.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: get my profile on client
  apps/raise/src/tender-statistics/controllers/tender-statistics.controller.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: moving endpoint to proposal payment, finish proposal insert payment by supervisor
  apps/raise/src/tender-proposal/proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/proposal-payment/dtos/requests/create-payment.dto.ts
  apps/raise/src/tender-proposal/proposal-payment/mappers/create-many-payment.mapper.ts
  apps/raise/src/tender-proposal/proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bug upload file, bug translation, direction field
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/components/hook-form/RHFUploadImage.tsx
  apps/pwa/src/components/upload/UploadSingleFile.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/queries/account_manager/detailsClientData.ts
  apps/pwa/src/queries/client/getProfileData.ts
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/sections/account_manager/edit-request-profile/DataTab.tsx
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/SupportingDurationInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/client/profile/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/project-details/project-owner-details/DetailClientInfo.tsx
  apps/pwa/src/sections/project-details/project-owner-details/SummaryClientInfo.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/AdministrativeAccording.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/ContactAccordion.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: fix bank card image, fix insert payments
  apps/raise/src/tender-proposal/proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bug field label add employee by admin, show data client profile
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: direction and labelling required
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: zzzzz
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix direction and label for input mobile and phone, remove field in user edit informatoin and handle it validation
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
  apps/pwa/src/sections/client/profile/ClientUserEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/client/profile/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/UserInfoForm.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfile.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: yayan request to update payment, umar request to modify edit request flow
  apps/raise/src/tender-proposal/proposal-payment/dtos/requests/update-payment.dto.ts
  apps/raise/src/tender-proposal/proposal-payment/mappers/create-cheque.mapper.ts
  apps/raise/src/tender-proposal/proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bank informations edit request, add field value for detail owner proposal
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/sections/account_manager/edit-request-profile/DataTab.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/project-details/project-owner-details/DetailClientInfo.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/BankInformationAccording.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/ContactAccordion.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: project path, acc/reject tax, payments on proposal details
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/components/hook-form/RHFTextArea.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/ForthFrom.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/finance/index.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/ManagerPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/taps-pages/ProjectBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: insert payment notif, change validation on cashier and finance for update payment
  apps/raise/src/tender-proposal/proposal-payment/dtos/responses/insert-payment-log-response.dto.ts
  apps/raise/src/tender-proposal/proposal-payment/dtos/responses/insert-payment-notif-mapper-response.dto.ts
  apps/raise/src/tender-proposal/proposal-payment/mappers/insert-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add: start date to project card foreach role
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/cashier/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/cashier/RequestsInProcess.tsx
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/Moderator/gettingIncomingRequests.ts
  apps/pwa/src/queries/Moderator/gettingPreviousRequests.ts
  apps/pwa/src/queries/client/gettingPreviousProposals.ts
  apps/pwa/src/queries/client/gettingSavedProjects.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/project-supervisor/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-supervisor/gettingPaymentAdjustment.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix edit user information by employee, fix bank information case just create new bank information
  apps/pwa/src/components/button/ButtonDownloadFiles.tsx
  apps/pwa/src/components/button/ButtonDownloadLicense.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/sections/account_manager/edit-request-profile/DataTab.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/UserInfoForm.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfileEditForm.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/ContactAccordion.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/LicenseAccording.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: insert payment notif, update payment notif, edit request entity name and entity phone
  apps/raise/src/libs/fusionauth/dtos/request/update-fusion-auth-user.dto.ts
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/tender-commons/types/index.ts
  apps/raise/src/tender-proposal/proposal-payment/dtos/responses/update-payment-notif-mapper-response.dto.ts
  apps/raise/src/tender-proposal/proposal-payment/mappers/insert-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/proposal-payment/mappers/update-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/mappers/approve-edit-request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: project details page in multiple roles account
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/redux/slices/notification.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUps.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsFile.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsText.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/ActionPopup.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/FilePopup.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
  apps/pwa/src/utils/axisoGraphQlInstance.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix navigation button edit employee information
  apps/pwa/src/components/hook-form/RHFUpload.tsx
  apps/pwa/src/sections/non-client-profile/NonClientProfileEditForm.tsx
  apps/pwa/src/utils/getFileData.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: payments on proposal details #2
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/hook-form/RHFUpload.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/cashier/main/DailyStatistics.tsx
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/finance/main/DailyStatistics.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/payments/cachier/CashierPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/cachier/UploadingForm.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/finance/index.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix bug phone number already exist in edit request by client, fix bug image preview in upload multiple file
  apps/pwa/src/components/hook-form/RHFUpload.tsx
  apps/pwa/src/components/upload/MultiFilePreview.tsx
  apps/pwa/src/components/upload/UploadMultiFile.tsx
  apps/pwa/src/components/upload/type.ts
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/LicenseInfoForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:change employee name in card for each role, change max size in upload file
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/hook-form/RHFUpload.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/project-manager/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-manager/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-manager/gettingPaymentAdjustment.ts
  apps/pwa/src/queries/project-supervisor/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-supervisor/gettingPaymentAdjustment.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: payments on proposal details #3 & WIP insight data
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/client/dashboard/PreviousFundingInqueries.tsx
  apps/pwa/src/sections/client/dashboard/Statistic.tsx
  apps/pwa/src/sections/client/dashboard/index.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: acc proposal in ceo
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/pages/project-supervisor/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: portal report section 4 bottom part
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-statistics/controllers/tender-statistics.controller.ts
  apps/raise/src/tender-statistics/dtos/requests/average-employee-transaction-time-filter.ts
  apps/raise/src/tender-statistics/dtos/responses/get-average-employee-response-time.dto.ts
  apps/raise/src/tender-statistics/dtos/responses/get-raw-average-employee-response-time.dto.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix show selected bank_information for new created proposal by client
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: payments on proposal details #3
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: comment first notify function
  apps/raise/src/tender-proposal/proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: role in comment follow ups and adjustment employee name in card
  apps/pwa/src/@types/commons.ts
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/contexts/JWTContext.tsx
  apps/pwa/src/layouts/dashboard/header/SwitchRole.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsFile.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsText.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: issue when sending notif on insert / update payment
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/dtos/requests/send-amandement.dto.ts
  apps/raise/src/tender-proposal/proposal-payment/mappers/insert-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/proposal-payment/mappers/update-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: payments table in supervisor, pm, finance and main details tab
  apps/pwa/src/sections/project-details/ProjectStatus.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
  apps/raise/src/tender-proposal/proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix dynamic download icon for files in apps
  apps/pwa/public/icons/img-icon.png
  apps/pwa/src/components/button/ButtonDownloadFiles.tsx
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/sections/account_manager/edit-request-profile/DataTab.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/SupportingDurationInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/BankInformationAccording.tsx
  apps/pwa/src/sections/project-details/project-owner-details/accordion/LicenseAccording.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
  apps/pwa/src/sections/shared/BankImageComp.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*
