Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*

feat find partner by name in new message modal, add payload selectLang for a few endpoint
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
  apps/pwa/src/components/table/TableRowsData.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/reject-project/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/ActionPopup.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/FilePopup.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat disable attachment button in messaging, fix bug amandement reqeust to client
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: minor in file #1
  apps/pwa/src/components/card-table/searching/CardTableSearching.tsx
  apps/pwa/src/pages/searching.tsx
  apps/pwa/src/routes/auth-route.tsx
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: sorting proposal in finance dashboard
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: arya request for fetching proposal (searching by specific filter, sort), fix forgot password template url for button and click here url
  apps/raise/src/libs/email/templates/tender/ar/account/forget_password.hbs
  apps/raise/src/libs/email/templates/tender/en/account/forget_password.hbs
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-proposal-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bug permission page denied in amandement request to supervisor, exclude outter_status ASKED_FOR_AMANDEMENT in fetching proposal list on CEO dashboard
  apps/pwa/src/queries/ceo/get-project-list.ts
  apps/pwa/src/queries/client/getSummaryProjectOwner.ts
  apps/pwa/src/routes/consultant-route.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/project-owner-details/ProjectOwnerDetailsMainPage.tsx
  apps/pwa/src/sections/project-details/project-owner-details/SummaryClientInfo.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix missing type in project-details
  apps/pwa/src/@types/project-details.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: mimicing hasura permission on search that requested by arya
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: folow up notification fix, outter satatus seaching, add user relation to searching result
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal-follow-up/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/search-client-proposal-filter-request.dto.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:searching and filtering, translate arabic in download menu portal report
  apps/pwa/src/components/card-table/CardTableBE.tsx
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/searching/CardSearching.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/chart/BarChart.tsx
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/pages/moderator/PortalReports.tsx
  apps/pwa/src/pages/searching_old.tsx
  apps/pwa/src/redux/rootReducer.ts
  apps/pwa/src/redux/slices/searching.ts
  apps/pwa/src/routes/accounts-manager-route.tsx
  apps/pwa/src/routes/admin-route.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/project-details/action-bar-taps.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: portal reports #2
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/portal-reports/HeaderTabs.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat attachment in messagee system in Apps, bug fixing, adjusment for fetching proposal
  apps/pwa/src/@types/wschat.ts
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/menu/MessageMenu.tsx
  apps/pwa/src/components/message/modal-form/ModalNewAttachment.tsx
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: reset & forgot password flow
  apps/pwa/src/components/table/TableRowsData.tsx
  apps/pwa/src/pages/auth/ForgotPassword.tsx
  apps/pwa/src/routes/auth-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/sections/auth/forgot-password/ForgotPasswordForm.tsx
  apps/pwa/src/sections/auth/login/LoginForm.tsx
  apps/pwa/src/sections/auth/reset-password/NewResetPaswordForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add response governorate
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: duplicate payload in create payments details
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add employee name on fetch client proposal
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat add children on menu item sidebar in admin
  apps/pwa/public/assets/icons/dashboard-navbar/drop-down-white.svg
  apps/pwa/src/components/nav-section/vertical/style.ts
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/consultant/IncomingFundingRequests.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: attempt to fix yarn.lock & opentelemetry build error
  yarn.lock
Due: none

build: upgrade yarn 3.4.1
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: reset & forgot password flow #2 & portal reports
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/auth/ForgotPassword.tsx
  apps/pwa/src/pages/auth/ResetPassword.tsx
  apps/pwa/src/sections/auth/forgot-password/ForgotPasswordForm.tsx
  apps/pwa/src/sections/auth/reset-password/NewResetPaswordForm.tsx
  apps/pwa/src/sections/portal-reports/HeaderTabs.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat bug fix send indicator in messaging sysyem
  apps/pwa/src/components/message/content/MessageContent.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: sonarqube & semgrep skip
  .gitlab-ci.yml
  apps/pwa/README.md
  apps/raise/README.md
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: sonarqube.tmra.io is back
  .gitlab-ci.yml
Due: none

feat: retrigger pipeline
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/widget-backend/widget-backend.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:cannot send follow up from client, show all proposals in client list
  apps/pwa/src/components/card-table/CardTableBE.tsx
  apps/pwa/src/components/card-table/NewCardTable.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/pages/searching.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/project-owner-details/ProjectOwnerDetailsMainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: trans timeout on send message attachment, implement send amandement notif email template
  apps/raise/src/tender-messaging/tender-message/repositories/tender-messages.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-amandement.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/new-amandement-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: send message with attachment
  apps/raise/src/tender-messaging/tender-message/services/tender-messages.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: api for arya and mas yan, find proposal by id, complete payment, send closing report
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/send-closing-report.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:searching in acc manager with new api, change query to api in project details ceo, project manager, admin
  apps/pwa/src/components/card-table/NewCardTable.tsx
  apps/pwa/src/components/card-table/NewProjectCard.tsx
  apps/pwa/src/components/card-table/searching/CardSearching.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/searching.tsx
  apps/pwa/src/redux/slices/proposal.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build: try lib es2022 for widget-pwa fix
  apps/widget-pwa/package.json
  apps/widget-pwa/tsconfig.json
  yarn.lock
Due: none

fix bug message sent indicator, searching employee c level
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/button/ButtonDownloadFiles.tsx
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/menu/MessageMenuItem.tsx
  apps/pwa/src/components/message/modal-form/ModalNewAttachment.tsx
  apps/pwa/src/components/message/modal-form/NewMessageModalForm.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/utils/remove-empty-key.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add and change response for fetch proposal by id, search client by status, for umar fix permission on endpoint, fix bad request validation for some roles
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-messaging/tender-message/services/tender-messages.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/dtos/requests/search-user-filter-request.dto.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat adjustment project path detail for supervisor track contentional grants, fix bug message
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/client/funding-project-request/amandement-project/AmandementClientForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGeneral.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: tidy structure, just for trigger pipeline
  apps/raise/src/tender-appointment/schedule/dtos/requests/edit-schedule-request.dto.ts
  apps/raise/src/tender-appointment/schedule/dtos/responses/create-schedule-response.dto.ts
  apps/raise/src/tender-auth/services/tender-auth.service.ts
  apps/raise/src/tender-messaging/tender-message/controllers/tender-messages.controller.ts
  apps/raise/src/tender-messaging/tender-message/dtos/requests/create-message.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-item-budget.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-notification.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-amandement-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-proposal-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/proposal-delete-draft.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-revision.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/responses/index.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add:previous funding request menu in cashier and finance, change data in cashier
  apps/pwa/src/components/card-table/ClientCard.tsx
  apps/pwa/src/components/card-table/NewCardTable.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/pages/cashier/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/pages/cashier/PreviousFundingRequests.tsx
  apps/pwa/src/pages/cashier/RequestsInProcess.tsx
  apps/pwa/src/pages/finance/PreviousFundingRequests.tsx
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/action-bar-taps.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: reversed query, and serach by account status for arya on searching, and fetch proposal
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/ask-closing-report.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/index.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat workaround edit employee by admin, fix bug message
  apps/pwa/src/components/message/content/MessageContent.tsx
  apps/pwa/src/components/message/menu/MessageMenuItem.tsx
  apps/pwa/src/queries/admin/getAllTheEmployees.ts
  apps/pwa/src/routes/admin-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/sections/admin/users-and-permissions/index.tsx
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
  apps/pwa/src/sections/admin/users-and-permissions/list/UsersAndPermissionsTableRow.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add: WIP closing reports #1
  apps/pwa/src/@types/commons.ts
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/IncomingClientCloseReport.tsx
  apps/pwa/src/pages/project-supervisor/IncomingCloseReports.tsx
  apps/pwa/src/queries/client/gettingClosingReportProposals.ts
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/admin/track-budget/Track.tsx
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
  apps/pwa/src/sections/project-details/floating-close-report/FloatingSpv.tsx
  apps/pwa/src/sections/project-details/floating-close-report/index.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-details/payments/cachier/CashierPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-details/taps-pages/Payments.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingCloseReport.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod
