Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*

feat: finish payment email template
  apps/raise/src/libs/email/templates/tender/en/proposal/payment_finish.hbs
  apps/raise/src/tender-notification/services/tender-notification.service.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/close-report-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/update-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

bug fixing, workaround accepting form ceo and PM with track is not GRANTS
  apps/pwa/src/@types/project-details.ts
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/routes/get-auth-code.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/ActionBox.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/AcceptedForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:Request in proccess bug on PM, Create proposal step 3 need translation, adjust searchbar
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

minor bug fix
  apps/pwa/src/components/notes-modal/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix notif on followup still need to be fixed, change type target group age, add permission for supervisor to search client, add payload for ceo and pm for change state
  apps/raise/src/libs/email/templates/tender/ar/proposal/project_followup.hbs
  apps/raise/src/libs/email/templates/tender/en/proposal/project_followup.hbs
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/mappers/follow-up-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/repositories/tender-proposal-follow-up.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/change-proposal-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/project-manager-change-state-payload.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/supervisor-change-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/enums/target-group-age.enum.ts
  apps/raise/src/tender-proposal/tender-proposal/types/index.ts
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: resync prisma schema
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

WIP: generate payements invoice finance & cashier
  apps/pwa/package.json
  apps/pwa/src/assets/logo_invoice.svg
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/sections/finance/payment/CardPayment.tsx
  apps/pwa/src/sections/finance/payment/PreviewPayment.tsx
  apps/pwa/src/sections/finance/payment/ProposalDetails.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  yarn.lock
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat add client list in supervisor, feat change field to dropdown in acc form grants, feat implement search in table client list
  apps/pwa/src/@types/project-details.ts
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/@types/supervisor-accepting-form.ts
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/components/table/ceo/client-list/ClientListTable.tsx
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/pages/project-supervisor/ClientListPage.tsx
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/ThirdForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/form-data.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/AcceptedForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add new filter in searchbar
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: refix prisma query raw on searching client
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: filter outter_status, filter project number, fix followup notif, fix reject pm
  apps/raise/src/tender-proposal/tender-proposal-follow-up/mappers/follow-up-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-proposal-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

WIP: generate payements invoice finance & cashier #2
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/sections/finance/payment/CardPayment.tsx
  apps/pwa/src/sections/finance/payment/PreviewPayment.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix email notif on send amandement
  apps/raise/src/libs/email/templates/tender/ar/proposal/project_followup.hbs
  apps/raise/src/libs/email/templates/tender/ar/proposal/project_new_amandement_request.hbs
  apps/raise/src/libs/email/templates/tender/en/proposal/project_new_amandement_request.hbs
  apps/raise/src/tender-proposal/tender-proposal/mappers/new-amandement-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix refresh page paymentpage, fix reject proposal by consultant, fix accept proposal on step 3 grants
  apps/pwa/src/@types/supervisor-accepting-form.ts
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListTable.tsx
  apps/pwa/src/queries/commons/getOnePayments.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/SecondForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/form-data.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:In the dashboard the project card they want to show the main step this project at
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/pages/finance/RequestsInProcess.tsx
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/client/clientMainPage.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/client/dashboard/IncomingClientCloseReport.tsx
  apps/pwa/src/sections/client/dashboard/PreviousFundingInqueries.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/consultant/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingAmandementRequest.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingCloseReport.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: update notions list
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getOnePayments.ts
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/sections/finance/payment/CardPayment.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/payments/cachier/CashierPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/cachier/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/cachier/UploadingForm.tsx
  apps/pwa/src/sections/project-details/payments/finance/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/finance/index.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/ManagerPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix query params parse error, ceo, and pm update proposal track info, change project_num to string, with auto increment
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-proposal-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/enums/target-group-age.enum.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/update-proposal-track-info.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: insert payment, and fix permission
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix payment refresh page, fix proposal id bug in card, feat project path by CEO and PM, feat translation project path
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/AcceptedForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGeneral.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: alter and query on proposal and old proposal
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-proposal-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

Add fields to proposal card in home shows action to be taken, add search and filter in old proposal page, fix filter project number in search bar component
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/table/old-proposal/OldProposalTable.tsx
  apps/pwa/src/layouts/dashboard/header/SearchbarV3_2_0.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: update ..
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/sections/finance/payment/CardPayment.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-manager/main/Main.tsx
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: finishhh notificationnnn
  apps/raise/src/libs/email/templates/tender/ar/proposal/project_followup.hbs
  apps/raise/src/libs/email/templates/tender/en/proposal/project_followup.hbs
  apps/raise/src/tender-proposal/tender-proposal-follow-up/mappers/follow-up-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/repositories/tender-proposal-follow-up.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/close-report-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/responses/update-my-proposal-response.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/send-revision-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: update track info grant for ceo and pm
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/ceo-change-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/project-manager-change-state-payload.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/update-proposal-track-w-consultant-info.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: payment update adding user_role, and message according to payment batch
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:translation of filter project status and project track in old proposal, fix named of action in all proposal cards
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/table/old-proposal/OldProposalTable.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat redirect to project detail and user detail in table project management, feat add project page from payment insert to closing report flow
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementRow.tsx
  apps/pwa/src/components/table/ceo/project-management/project-management.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/ceo/get-project-list.ts
  apps/pwa/src/queries/commons/getOneClosingReport.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/sections/ceo/ceo-dashboard/ProjectManagement.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/CashierPaymentLog.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ClientClosingReport.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/FinancePaymentLog.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/ProjectManager.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGeneral.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: interceptor proposal create, fix ceo and supervior payload
  apps/raise/src/libs/bunny/services/bunny.service.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/ceo-change-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-interceptor.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/supervisor-change-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/create-proposal-interceptor.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/index.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:notification of project report and amandament proposal got null proposal id, fix url of payment receipt
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat bug fixing
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListRow.tsx
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListTable.tsx
  apps/pwa/src/components/table/ceo/rejection-list/types.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/ceo/getRejectedProjects.ts
  apps/pwa/src/sections/ceo/ceo-project-management/index.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: interceptor done, proposal_id null on web notif done
  apps/raise/src/libs/bunny/services/bunny.service.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/close-report-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-interceptor.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/create-proposal-item-budget.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/new-amandement-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/send-revision-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: update propoal / save draft with interceptor
  apps/raise/src/tender-commons/utils/is-upload-file-jsonb.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/proposal-save-draft-interceptor.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat implement formData for payload create proposal, handle project path, fix minor bug acc grants by ceo and PM
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FirstForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/utils/remove-empty-key.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix notif again on follow up and send revison
  apps/raise/src/tender-proposal/tender-proposal-follow-up/mappers/follow-up-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/repositories/tender-proposal-follow-up.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/send-revision-notif-mapper.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:content notification, English text changes to Platform Projects, update Proposal card add label
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: supervisor_id null, old proposal not show in supervisor role
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: create track with or without consultation, fix acc and update payload on ceo and pm
  apps/raise/src/app.module.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-track/controllers/tender-track.controller.ts
  apps/raise/src/tender-track/dto/requests/create-track.dto.ts
  apps/raise/src/tender-track/dto/requests/index.ts
  apps/raise/src/tender-track/mappers/create-track.mapper.ts
  apps/raise/src/tender-track/mappers/index.ts
  apps/raise/src/tender-track/repositories/tender-track.repository.ts
  apps/raise/src/tender-track/services/tender-track.service.ts
  apps/raise/src/tender-track/tender-track.module.ts
  apps/raise/src/tender-track/track.module.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: fix proposal not moving when accepting
  apps/raise/src/tender-proposal/tender-proposal/dtos/responses/fetch-proposal-by-id.response.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat:add new track, fix handle from follow up notification
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/sections/admin/transaction-progression/AddNewTrack.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP: add & update bank list
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/project-supervisor/getTrackBudget.ts
  apps/pwa/src/sections/admin/bank-name/index.tsx
  apps/pwa/src/sections/admin/bank-name/list/AddBankModal.tsx
  apps/pwa/src/sections/admin/bank-name/list/BankNameTableContent.tsx
  apps/pwa/src/sections/admin/bank-name/list/BankNameTableRow.tsx
  apps/pwa/src/sections/admin/bank-name/list/FormModalBank.tsx
  apps/pwa/src/sections/admin/bank-name/list/types.ts
  apps/pwa/src/sections/admin/track-budget/TrackBudgetPage.tsx
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/create-bank-list.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod
