Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build tmra-raise:
  stage: build
  needs: []
  script:
  - cd apps/raise
  - yarn --immutable
  - yarn build
  - '[ -f "dist/main.js" ] || { ls -F dist/; echo "Error: Build was invalid. apps/raise/dist/main.js must exist after build! Hint: Make sure you only use src/ folder."; exit 1; }'
  artifacts:
    paths:
    - package.json
  ...

build tmra-pwa dev:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: dev
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa qc:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: qc
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa staging:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: staging
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa prod:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: prod
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

publish tmra-raise to non-prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-raise to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to dev:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa dev
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to qc:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa qc
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to staging:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa staging
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa prod
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

fix: support_goal_id
  apps/pwa/src/_mock/_supportgoals.ts
  apps/raise/src/prisma/schema.prisma
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix change file type upload in creating new proposal by client, workaround amandement
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/client/AmandementRequestProposal.tsx
  apps/pwa/src/queries/commons/getOneAmandementProposal.ts
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/account_manager/edit-request-profile/ActionButtonEditRequest.tsx
  apps/pwa/src/sections/amandement-request/proposal/ActionButtonAmandementProposal.tsx
  apps/pwa/src/sections/amandement-request/proposal/ProposalAmandementHeader.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: disabled button except accept / reject & change state for supervisor
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/reject-project/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: imporve logic on sending notif, insert amandement request
  apps/raise/src/commons/dtos/get-by-uuid-query-param.dto.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-commons/dto/common-notif-mapper-response.dto.ts
  apps/raise/src/tender-commons/dto/common-proposal-log-notif-response.dto.ts
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-notification/services/tender-notification.service.ts
  apps/raise/src/tender-proposal/dtos/consultantForm.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/create-proposal-bank-information.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/d-change-proposal-state.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/send-amandement.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/setup-payment-payload.dto.ts
  apps/raise/src/tender-proposal/dtos/supervisorForm.dto.ts
  apps/raise/src/tender-proposal/dtos/updateProposalByCmsUsers.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/create-payment.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/update-payment.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/responses/insert-payment-log-response.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/responses/insert-payment-notif-mapper-response.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/responses/update-payment-notif-mapper-response.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/responses/update-payment-response.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/create-cheque.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/create-many-payment.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/insert-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/mappers/update-payment-notif.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal.module.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/change-proposal-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-amandement-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-amandement.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/new-amandement-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/mappers/proposal-update-request.mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix:fixing step in project path, change the bullet color for the current state, tranlate to arabic for project path
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: change some code, check the list below!
  apps/pwa/src/components/card-table/CardTableBE.tsx
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementTable.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/project-manager/ExchangePermission.tsx
  apps/pwa/src/pages/project-manager/IncomingFundingRequests.tsx
  apps/pwa/src/pages/project-manager/PreviousFundingRequests.tsx
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
  apps/pwa/src/pages/project-supervisor/RequestsInProcess.tsx
  apps/pwa/src/queries/ceo/getDailyStatisticCeo.ts
  apps/pwa/src/queries/client/getProposalStatistic.ts
  apps/pwa/src/queries/project-manager/getDailyProjectManagerStatistics.ts
  apps/pwa/src/queries/project-supervisor/getTrackBudget.ts
  apps/pwa/src/queries/project-supervisor/gettingIncomingRequests.ts
  apps/pwa/src/sections/ceo/ceo-dashboard/DailyStatistics.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/TrackBudget.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/index.tsx
  apps/pwa/src/sections/client/dashboard/Statistic.tsx
  apps/pwa/src/sections/consultant/main/DailyStatistics.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsTable.tsx
  apps/pwa/src/sections/project-manager/main/DailyStatistics.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/Main.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-manager/main/TrackBudget.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/TrackBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: minor zzz
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/DailyStatistics.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/form-data.ts
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-supervisor/main/TrackBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: return button amandemen and message partner in each role, return add message and file from follow ups to above tabs follow ups
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementTable.tsx
  apps/pwa/src/components/table/ceo/project-management/project-management.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/ceo/ceo-dashboard/ProjectManagement.tsx
  apps/pwa/src/sections/ceo/ceo-project-management/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/ceo/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:translate project management table to arabic
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add improvement on proposal_edit_request
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/fetch-amandement-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/supervisor-change-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: minior bug
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: add delete and delete all notif, add permission to project manager to delete followup, add permission to client to add followup
  apps/raise/src/campaign/dto/capaign-set-flag-deleted.ts
  apps/raise/src/campaign/services/campaign.service.ts
  apps/raise/src/commons/configs/tmra-gapi-config.ts
  apps/raise/src/commons/decorators/validate-object-id.decorator.ts
  apps/raise/src/commons/dtos/payload-content-language.dto.ts
  apps/raise/src/commons/dtos/payload-image.dto.ts
  apps/raise/src/contacts/contacts.module.ts
  apps/raise/src/libs/email/email.service.ts
  apps/raise/src/tender-appointment/appointment/services/tender-appointment.service.ts
  apps/raise/src/tender-notification/controllers/tender-notification.controller.ts
  apps/raise/src/tender-notification/repository/tender-notification.repository.ts
  apps/raise/src/tender-notification/services/tender-notification.service.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/controllers/tender-proposal-follow-up.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-follow-up/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change field type and add validator to remote or insite
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/supervisor-change-state.dto.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix validation date for payment split by supervisor, setValue field and fix radio button in form accpet by supervisor in consentional grants
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/@types/supervisor-accepting-form.ts
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/client/AmandementRequestProposal.tsx
  apps/pwa/src/pages/amandement-request/forms/AmandementForms.tsx
  apps/pwa/src/pages/amandement-request/forms/ConfirmAmandement.tsx
  apps/pwa/src/pages/amandement-request/forms/FormFieldData.ts
  apps/pwa/src/pages/project-supervisor/RequestsInProcess.tsx
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/sections/amandement-request/proposal/ActionButtonAmandementProposal.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/ThirdForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/form-data.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/taps-pages/SupervisorRevision.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix minor error
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/sections/client/profile/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/ThirdForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix minor error
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

handle for reviewer in proposal project card
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat:filter track and add project delay in project management, handle delete on follow up, show button add msg and file in role client
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementRow.tsx
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementTable.tsx
  apps/pwa/src/components/table/ceo/project-management/project-management.ts
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/ceo/get-project-list.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/ProjectManagement.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUps.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsAction.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsFile.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsText.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/ActionPopup.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/FilePopup.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat show list amandment reqeust in supervisor and client side
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/modal-dialog/ConfirmationModal.tsx
  apps/pwa/src/config.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/amandement-request/client/AmandementRequestProposal.tsx
  apps/pwa/src/pages/amandement-request/forms/ConfirmAmandement.tsx
  apps/pwa/src/pages/client/previous-funding-requests/index.tsx
  apps/pwa/src/queries/client/clientMainPage.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/sections/client/dashboard/AmandementProposal.tsx
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/client/dashboard/index.tsx
  apps/pwa/src/sections/project-details/ProjectStatus.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
  apps/pwa/src/sections/project-supervisor/main/ProposalOnAmandement.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix error build
  apps/pwa/src/sections/client/dashboard/AmandementProposal.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: acc / reject grant track
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/ForthFrom.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsAction.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/ActionPopup.tsx
  apps/pwa/src/sections/project-details/follow-ups/follow-ups-popups/FilePopup.tsx
  apps/pwa/src/sections/project-details/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add query to fetch proposal from amandement
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: find amandement by proposal_id
  apps/raise/src/commons/dtos/get-by-id.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add: time and date for each operation in project path, last step must be current state, fixing start date not suitable in project card, fixing page in project management
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/Moderator/gettingIncomingRequests.ts
  apps/pwa/src/queries/Moderator/gettingPreviousRequests.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/queries/commons/getPrposalLog.ts
  apps/pwa/src/queries/project-supervisor/gettingIncomingRequests.ts
  apps/pwa/src/queries/project-supervisor/gettingMyRequestedProcess.ts
  apps/pwa/src/queries/project-supervisor/gettingPaymentAdjustment.ts
  apps/pwa/src/queries/project-supervisor/gettingPreviousRequests.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/ProjectManagement.tsx
  apps/pwa/src/sections/ceo/ceo-project-management/index.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-manager/main/ExchangePermission.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-manager/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: account manager accept
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change response of find amandement
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: make send revision can update item budget
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-revision.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat page for amandement project in client side
  apps/pwa/src/@types/commons.ts
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/AmandementRequest.tsx
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/sections/client/dashboard/ListAmandementRequest.tsx
  apps/pwa/src/sections/client/dashboard/index.tsx
  apps/pwa/src/sections/client/funding-project-request/AmandementProposalDialog.tsx
  apps/pwa/src/sections/client/funding-project-request/amandement-project/AmandementActionBox.tsx
  apps/pwa/src/sections/client/funding-project-request/amandement-project/AmandementClientForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ProjectBudgetForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ProjectInfoForm.tsx
  apps/pwa/src/sections/project-details/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: button rejection list
  apps/pwa/src/sections/project-details/floating-action-bar/FloatinActonBar.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/reject-project/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: button rejection list #2
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListRow.tsx
  apps/pwa/src/pages/project-manager/RejectionList.tsx
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/reject-project/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: adjusment API for submit amandemen project by client
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: rejection list, project path, project budget in grant track
  apps/pwa/src/components/table/ceo/rejection-list/RejectionListRow.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/project-supervisor/getTheSpentBudgetForSpecificProposal.ts
  apps/pwa/src/sections/cashier/main/IncomingExchangePermissionRequests.tsx
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/reject-project/index.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/taps-pages/ProjectBudget.tsx
  apps/raise/src/tender-commons/types/proposal.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:action in project path, fix path when send back to moderator, add handle send back in consultant
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/floating-action-bar/consultant/index.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat disable unrelated field for amandement request on client side, change required to non required field phone in register
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/dashboard/ListAmandementRequest.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ProjectBudgetForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ProjectInfoForm.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: disabled condition for form grant track
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/components/hook-form/RHFTextArea.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/ThirdForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/form-data.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: adjustment for amandement
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat show field, witch is field that have amandemen reqeuest by supervisor
  apps/pwa/src/components/button/ButtonDownloadFiles.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: adjustment for amandement(2), permission what can be edited, fix dto for images
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/send-revision.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: forgot delete debugging thrower
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*
