Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build tmra-raise:
  stage: build
  needs: []
  script:
  - cd apps/raise
  - yarn --immutable
  - yarn build
  - '[ -f "dist/main.js" ] || { ls -F dist/; echo "Error: Build was invalid. apps/raise/dist/main.js must exist after build! Hint: Make sure you only use src/ folder."; exit 1; }'
  artifacts:
    paths:
    - package.json
  ...

build tmra-pwa dev:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: dev
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa qc:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: qc
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa staging:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: staging
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa prod:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: prod
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

publish tmra-raise to non-prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-raise to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to dev:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa dev
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to qc:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa qc
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to staging:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa staging
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa prod
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

feat: update track info, fetch track
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-track/controllers/tender-track.controller.ts
  apps/raise/src/tender-track/dto/requests/fetch-track-filter-request.dto.ts
  apps/raise/src/tender-track/dto/requests/index.ts
  apps/raise/src/tender-track/dto/requests/update-track-dto.ts
  apps/raise/src/tender-track/mappers/index.ts
  apps/raise/src/tender-track/mappers/update-track.mapper.ts
  apps/raise/src/tender-track/repositories/tender-track.repository.ts
  apps/raise/src/tender-track/services/tender-track.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: find file manager
  apps/raise/src/tender-file-manager/controllers/tender-file-manager.controller.ts
  apps/raise/src/tender-file-manager/dtos/requests/fetch-file-manager-filter.dto.ts
  apps/raise/src/tender-file-manager/dtos/requests/index.ts
  apps/raise/src/tender-file-manager/repositories/tender-file-manager.repository.ts
  apps/raise/src/tender-file-manager/services/tender-file-manager.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: fix notif link, and fix ceo and pm payload
  apps/raise/src/tender-proposal/tender-proposal/mappers/send-revision-notif-mapper.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat implement client files in tender roles, adjustment payload for acc track grants, create routing for client files
  apps/pwa/public/assets/icons/icon_client_list_btn_download.png
  apps/pwa/public/assets/icons/icon_client_list_image.png
  apps/pwa/public/assets/icons/icon_client_list_pdf.png
  apps/pwa/src/components/table/client-files/ClientFilesRow.tsx
  apps/pwa/src/components/table/client-files/ClientFilesTable.tsx
  apps/pwa/src/components/table/client-files/mock-data.ts
  apps/pwa/src/components/table/client-files/types.ts
  apps/pwa/src/layouts/dashboard/navbar/NavConfig.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client-files/ClientFiles.tsx
  apps/pwa/src/routes/admin-route.tsx
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/routes/consultant-route.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/moderator-route.tsx
  apps/pwa/src/routes/paths.ts
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/project-path/role-logs/SupervisorGrants.tsx
  apps/pwa/src/utils/stringTruncate.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix minor error payload acc track grants
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/FifthForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add logs
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: implement bank into client register form
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/sections/auth/register/final-page/BankInformation.tsx
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/client/dashboard/UnActivatedAccount.tsx
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/create-bank-list.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/dtos/requests/find-track-budget-filter.dto.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-user/client/mappers/bank_information.mapper.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:get list track,add handle update track
  apps/pwa/src/@types/commons.ts
  apps/pwa/src/redux/rootReducer.ts
  apps/pwa/src/redux/slices/track.ts
  apps/pwa/src/sections/admin/transaction-progression/AddNewTrack.tsx
  apps/pwa/src/sections/admin/transaction-progression/ContentTrackCard.tsx
  apps/pwa/src/sections/admin/transaction-progression/TransactionProgressionPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: set payment
  apps/pwa/src/sections/project-details/payments/supervisor/PaymentsSetForm.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix translation project path, workaround dropdown tracks when acc proposan in role moderator
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/moderator/PortalReports copy.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm_copy.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: filter exclude general track, moderator add track using track_id, fix update track
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/moderator-change-state.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-track/dto/requests/fetch-track-filter-request.dto.ts
  apps/raise/src/tender-track/mappers/update-track.mapper.ts
  apps/raise/src/tender-track/repositories/tender-track.repository.ts
  apps/raise/src/tender-track/services/tender-track.service.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: fix registration
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-user/client/mappers/bank_information.mapper.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: foregin key error on accepting on moderator
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat adjustment payload for register user, feat adjustment payload for moderator acc, workaournd employee path by admin
  apps/pwa/src/@types/register.ts
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/redux/rootReducer.ts
  apps/pwa/src/redux/slices/banks.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser_copy.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm_copy.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/shared/types.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: soft delete bank
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: request in process and previous funding request
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/previous-proposal-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/request-in-process-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

edit track by admin, handle deleted bank via admin in client roles, handle update bank in edit requests by client to acc manager, workaround acc edit request by acc manager
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/queries/client/getProfileData.ts
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/sections/admin/bank-name/index.tsx
  apps/pwa/src/sections/admin/bank-name/list/BankNameTableRow.tsx
  apps/pwa/src/sections/admin/track-budget/Track.tsx
  apps/pwa/src/sections/admin/transaction-progression/AddNewTrack.tsx
  apps/pwa/src/sections/admin/transaction-progression/ContentTrackCard.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/utils/formatCapitzlizeText.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: bank info on edit request, create and approve
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/create-bank-information.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/existing-bank-information.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/update-bank-information.dto.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix minor bug when fething bank name list
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/sections/admin/bank-name/index.tsx
  apps/pwa/src/sections/admin/bank-name/list/BankNameTableContent.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix previous and request in process limit and hide old proposal
  apps/raise/src/tender-proposal/tender-proposal-payment/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/tender-proposal-payment/services/tender-proposal-payment.service.ts
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: reimplement filter on request in process
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: payment stripe cart #1
  apps/raise/package.json
  apps/raise/src/libs/stripe/services/stripe.service.ts
  apps/raise/src/libs/stripe/stripe.errors.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
  yarn.lock
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: re apply filter to fetch request in process
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat remove limit when fetching bank list, feat adjustment card table for BE, feat comsume API for fetching request in proses and previous reqeust in role moderator, supervisor, PM, CEO
  apps/pwa/src/components/card-table/CardTableByBE.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/card-table/types.ts
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/components/table/ceo/project-management/ProjectManagementTable.tsx
  apps/pwa/src/pages/ceo/PreviousFundingRequests.tsx
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/pages/moderator/incoming-support-requests/index.tsx
  apps/pwa/src/pages/moderator/previous-support-requests/index.tsx
  apps/pwa/src/pages/project-manager/IncomingFundingRequests.tsx
  apps/pwa/src/pages/project-manager/PreviousFundingRequests.tsx
  apps/pwa/src/pages/project-manager/RequestsInProcess.tsx
  apps/pwa/src/pages/project-supervisor/IncomingFundingRequests.tsx
  apps/pwa/src/pages/project-supervisor/PreviousFundingRequests.tsx
  apps/pwa/src/pages/project-supervisor/RequestsInProcess.tsx
  apps/pwa/src/sections/ceo/ceo-dashboard/ProjectManagement.tsx
  apps/pwa/src/sections/ceo/ceo-project-management/index.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/utils/get-delay-projects.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix acc modal supervisor non grants for accepting proposaal
  apps/pwa/src/_mock/_supportGoalsArr.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix acc modal PM and CEO non grants for accepting proposal
  apps/pwa/src/@types/project-details.ts
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/AcceptedForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: payment stripe cart #2
  apps/raise/src/payment-stripe/dto/payment-stripe-basket.dto.ts
  apps/raise/src/payment-stripe/payment-stripe.controller.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
  apps/raise/src/tender-commons/types/stripe.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix proposal stil showed in project card in client, feat implement fetching by api for request in process and previous proposal for consultant, cashier, finance
  apps/pwa/src/components/card-table/CardTableByBE.tsx
  apps/pwa/src/components/card-table/CardTableLoading.tsx
  apps/pwa/src/pages/cashier/PreviousFundingRequests.tsx
  apps/pwa/src/pages/cashier/RequestsInProcess.tsx
  apps/pwa/src/pages/consultant/IncomingFundingRequests.tsx
  apps/pwa/src/pages/finance/PreviousFundingRequests.tsx
  apps/pwa/src/pages/finance/RequestsInProcess.tsx
  apps/pwa/src/queries/client/gettingPreviousProposals.ts
  apps/pwa/src/queries/client/gettingSavedProjects.ts
  apps/pwa/src/sections/cashier/main/RequestsInProcess.tsx
  apps/pwa/src/sections/consultant/main/IncomingConultationRequests.tsx
  apps/pwa/src/sections/finance/main/RequestsInProcess.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: fix finance and cashier on request in process
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: single campaign and zakat payment stripe
  apps/raise/src/payment-stripe/dto/payment-stripe-basket.dto.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: edit request bank, acc recom budget to item budget
  apps/raise/src/tender-proposal/tender-proposal-payment/controllers/tender-proposal-payment.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/dtos/requests/client-bank-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/index.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/dtos/requests/create-user.dto.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix follow-ups in employee, fix bank list register, fix delete bank via admin, feat adjustment for add / edit employee by admin, feat adjustment for deleted bank in client, feat acc roles grants
  apps/pwa/src/@types/register.ts
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/queries/admin/getAllTheEmployees.ts
  apps/pwa/src/queries/client/getProfileData.ts
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/admin/bank-name/index.tsx
  apps/pwa/src/sections/admin/bank-name/list/BankNameTableContent.tsx
  apps/pwa/src/sections/admin/users-and-permissions/list/AddNewUser.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/forms/index.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix minor fetching project report client
  apps/pwa/src/queries/client/gettingClosingReportProposals.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: contacts send enpoint
  apps/raise/src/contacts/contacts.controller.ts
  apps/raise/src/contacts/contacts.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat handle featching data when there is no active role in bank list register
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/sections/admin/bank-name/list/types.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix acc by moderator, handle null data for incoming PM and supervisor
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-manager/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

handle disable button for client for update bank information
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: payment adjustment, and reactive user when accpt edit request
  apps/raise/src/tender-proposal/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/index.ts
  apps/raise/src/tender-proposal/tender-proposal/dtos/requests/payment-adjustment-filter-request.dto.ts
  apps/raise/src/tender-proposal/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: zakat list transaction and donor transaction
  apps/raise/src/organization/organization.service.ts
  apps/raise/src/payment-stripe/payment-stripe.service.ts
  apps/raise/src/zakat/zakat.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*
