Repository mizumaru1108/maru_be_tender: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

build tmra-raise:
  stage: build
  needs: []
  script:
  - cd apps/raise
  - yarn --immutable
  - yarn build
  - '[ -f "dist/main.js" ] || { ls -F dist/; echo "Error: Build was invalid. apps/raise/dist/main.js must exist after build! Hint: Make sure you only use src/ folder."; exit 1; }'
  artifacts:
    paths:
    - package.json
  ...

build tmra-pwa dev:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: dev
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa qc:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: qc
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa staging:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: staging
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app-${APP_ENV}.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

build tmra-pwa prod:
  stage: build
  needs: []
  variables:
    APP_NAME: tmra-pwa
    APP_ENV: prod
  environment:
    name: ${APP_NAME}-${APP_ENV}
    url: https://app.tmra.io/
  script:
  - cd apps/pwa
  - yarn --immutable
  - yarn build
  ...

publish tmra-raise to non-prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-raise to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-raise
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to dev:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa dev
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to qc:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa qc
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to staging:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa staging
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

publish tmra-pwa to prod:
  stage: publish
  needs:
  - prepare version
  - build tmra-pwa prod
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

feat: continue acc reject, working on recreate proposal with rest api
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-commons/dto/tender-file-payload.dto.ts
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/proposal-create.dto.ts
  apps/raise/src/tender-proposal/interfaces/proposal-logs-response.ts
  apps/raise/src/tender-proposal/mappers/create-proposal.mapper.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-log.repository.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-statistics/repositories/tender-statistic.repository.ts
  apps/raise/src/tender-statistics/services/tender-statistics.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat create page for project owner summary details page
  apps/pwa/src/@types/project-details.ts
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/project-details/ProjectOwnerDetails.tsx
  apps/pwa/src/queries/Moderator/gettingPreviousRequests.ts
  apps/pwa/src/queries/client/getProfileData.ts
  apps/pwa/src/queries/client/getSummaryProjectOwner.ts
  apps/pwa/src/queries/commons/getProposal.ts
  apps/pwa/src/routes/cashier-route.tsx
  apps/pwa/src/routes/ceo-route.tsx
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/routes/consultant-route.tsx
  apps/pwa/src/routes/finance-route.tsx
  apps/pwa/src/routes/moderator-route.tsx
  apps/pwa/src/routes/project-manager-route.tsx
  apps/pwa/src/routes/project-supervisor-route.tsx
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-details/project-owner-details/SummaryClientInfo.tsx
  apps/pwa/src/sections/project-details/project-owner-details/index.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: check on the list
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/contexts/JWTContext.tsx
  apps/pwa/src/layouts/dashboard/navbar/NavbarVertical.tsx
  apps/pwa/src/locales/i18n.ts
  apps/pwa/src/pages/moderator/MainModeratorPage.tsx
  apps/pwa/src/queries/Moderator/stactic.ts
  apps/pwa/src/queries/client/clientMainPage.ts
  apps/pwa/src/sections/auth/register/RegisterFormData.tsx
  apps/pwa/src/sections/auth/register/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/dashboard/CurrentProjects.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/ProposalRejectingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/payments/cachier/CashierPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/client/ManagerPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/ManagerPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/supervisor/index.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
  apps/pwa/src/utils/formatNumber.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: proposal create rest api create transaction and upload file, working on save draft, refactor 966 validator on registration
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-commons/decorators/validate-ksa-phone-number-966.decorator.ts
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/change-proposal-state.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/proposal-create.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/proposal-save-draft.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/update-proposal.dto.ts
  apps/raise/src/tender-proposal/mappers/create-proposal.mapper.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-log.repository.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/mappers/create-client.mapper.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: fix typo on chairman
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix : check on the list (18 Jan 2023)
  apps/pwa/src/@types/register.ts
  apps/pwa/src/components/FormGenerator.tsx
  apps/pwa/src/components/hook-form/RHFDatePicker.tsx
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/RegisterFormData.tsx
  apps/pwa/src/sections/auth/register/final-page/AdministrativeInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/BankInformation.tsx
  apps/pwa/src/sections/auth/register/final-page/ConnectionInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/LicenseInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/MainInfo.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
  apps/pwa/src/sections/auth/register/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/MainForm.tsx
  apps/raise/src/tender-commons/decorators/validate-ksa-phone-number-966.decorator.ts
Due: build tmra-raise, build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-raise to non-prod, publish tmra-raise to prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: create proposal, cacheing prisma with lru-cache
  apps/raise/package.json
  apps/raise/src/libs/bunny/services/bunny.service.ts
  apps/raise/src/main.ts
  apps/raise/src/prisma/prisma.service.ts
  apps/raise/src/tender-commons/decorators/validate-base64.decorator.ts
  apps/raise/src/tender-proposal/controllers/tender-proposal.controller.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/proposal-create.dto.ts
  apps/raise/src/tender-proposal/mappers/create-item-budgets.mappers.ts
  apps/raise/src/tender-proposal/mappers/create-proposal.mapper.ts
  apps/raise/src/tender-proposal/mappers/update-proposal.mapper.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-payment.repository.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: create proposal, cacheing prisma with lru-cache
  yarn.lock
Due: none

feat change gql to rest API creating proposal (work around large file)
  apps/pwa/src/components/FormGenerator.tsx
  apps/pwa/src/components/hook-form/BaseField.tsx
  apps/pwa/src/components/hook-form/RHFSelectNoGen.tsx
  apps/pwa/src/components/hook-form/RHFUploadBe.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/client/funding-project-request/Forms-Data/index.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/SupportingDurationInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/project-details/project-owner-details/SummaryClientInfo.tsx
  apps/pwa/src/sections/project-details/project-owner-details/index.tsx
  apps/pwa/src/utils/getBase64.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: finalize register
  apps/raise/src/tender-auth/dtos/requests/register-tender.dto.ts
  apps/raise/src/tender-commons/decorators/validate-ksa-phone-number-966.decorator.ts
  apps/raise/src/tender-commons/dto/tender-file-payload.dto.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender-user/client/mappers/bank_information.mapper.ts
  apps/raise/src/tender-user/client/mappers/create-client.mapper.ts
  apps/raise/src/tender-user/client/mappers/user-client-data.mapper.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix bug phone number, adjusment field and adjusment payload for register tender
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/components/hook-form/RHFUploadBe.tsx
  apps/pwa/src/components/upload/UploadSingleFile.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/RegisterFormData.tsx
  apps/pwa/src/sections/auth/register/final-page/index.tsx
  apps/pwa/src/sections/auth/register/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/MainForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: finalize save draft
  apps/raise/src/tender-proposal/dtos/requests/proposal/proposal-save-draft.ts
  apps/raise/src/tender-proposal/mappers/update-proposal.mapper.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix minor error translation and validation in register Tender
  apps/pwa/src/@types/register.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/MainForm.tsx
  apps/pwa/src/sections/client/funding-project-request/Forms-Data/index.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ActionBox.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/SupportingDurationInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP: insight, acc/reject, amount in supervisor
  apps/pwa/src/@types/register.ts
  apps/pwa/src/components/card-table/ProjectCard.tsx
  apps/pwa/src/components/floating-action-bar/FloatingActionBar.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/Moderator/stactic.ts
  apps/pwa/src/queries/project-supervisor/getDailyStatistics.ts
  apps/pwa/src/queries/project-supervisor/getTrackBudget.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-facilitate-track/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/follow-ups/ClientFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/follow-ups/EmptyFollowUps.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUps.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsFile.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsText.tsx
  apps/pwa/src/sections/project-details/project-path/ProjectPath.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
  apps/pwa/src/sections/project-details/taps-pages/ProjectBudget.tsx
  apps/pwa/src/sections/project-supervisor/main/DailyStatistics.tsx
  apps/pwa/src/sections/project-supervisor/main/IncomingFundingRequests.tsx
  apps/pwa/src/sections/project-supervisor/main/Main.tsx
  apps/pwa/src/sections/project-supervisor/main/PaymentAdjustment.tsx
  apps/pwa/src/sections/project-supervisor/main/RequestsInProcess.tsx
  apps/pwa/src/sections/project-supervisor/main/TrackBudget.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

WIP: insight, acc/reject, amount in supervisor #2
  apps/pwa/src/@types/project-details.ts
  apps/pwa/src/components/hook-form/RHFSelect.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/moderator/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: create endpoint to clear, and clear all notification
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-notification/controllers/tender-notification.controller.ts
  apps/raise/src/tender-notification/dtos/requests/base-notification.dto.ts
  apps/raise/src/tender-notification/repository/tender-notification.repository.ts
  apps/raise/src/tender-notification/services/tender-notification.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix save as draft proposal flow Tender (need QA) and change field and new validation for IBAN field on register tender
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/hook-form/RHFTextField.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/auth/register/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ActionBox.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/MainInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/forms/SupportingDurationInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add:notification project for all role
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/queries/commons/subNotification.ts
  apps/pwa/src/queries/commons/subNotificationCount.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add: notification message
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/queries/commons/subNotification.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix bug save as draft proposal tender
  apps/pwa/src/layouts/dashboard/navbar/NavbarVertical.tsx
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/MainForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:notification appointment
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/queries/commons/subNotification.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix: payment ui tabs, acc & reject function in project manager, handle error in notif popover
  apps/pwa/src/components/card-table/ProjectCardBE.tsx
  apps/pwa/src/components/notes-modal/index.tsx
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/ManagerPaymentsPage.tsx
  apps/pwa/src/sections/project-details/payments/project-manager/PaymentsTable.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

add: client name in project details
  apps/pwa/src/queries/commons/subNotification.ts
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat workaround edit request for client tender adjusment table and payload
  apps/pwa/src/@types/register.ts
  apps/pwa/src/components/hook-form/BaseField.tsx
  apps/pwa/src/components/hook-form/RHFUploadBe.tsx
  apps/pwa/src/components/upload/UploadSingleFile.tsx
  apps/pwa/src/components/upload/type.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/queries/client/clientMainPage.ts
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/auth/register/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/client/funding-project-request/Forms-Data/index.tsx
  apps/pwa/src/sections/client/profile/ActionsBox.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/client/profile/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/MainForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:notification always show after login, still show accept reject option even though the proposal already accepted or rejected by the current account
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/queries/commons/subNotification.ts
  apps/pwa/src/sections/project-details/index.tsx
  apps/pwa/src/sections/project-details/taps-pages/MainPage.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix:notification add request action
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: redisgn edit_request table, create edit request, displaying edit request, find pending logs, diplay old and new edit request, etc..
  apps/raise/src/libs/fusionauth/services/fusion-auth.service.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/create-bank-information.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/edit-request-by-id.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/existing-bank-information.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/search-edit-request-filter-request.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/update-bank-information.dto.ts
  apps/raise/src/tender-user/client/dtos/responses/raw-edit-request-by-log-id.dto.ts
  apps/raise/src/tender-user/client/mappers/create-edit-request-log.mapper.ts
  apps/raise/src/tender-user/client/mappers/edit_request.mapper.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/dtos/requests/update-user.dto.ts
  apps/raise/src/tender-user/user/mappers/update-user.mapper.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: handle navigate project on notification
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

split edit request into two parts, create edit request client data using API
  apps/pwa/src/@types/register.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/pages/client/ClientUserEdit.tsx
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
  apps/pwa/src/routes/client-route.tsx
  apps/pwa/src/sections/client/profile/ActionsBoxUserEdit.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/ClientUserEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/ConnectingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/UserInfoForm.tsx
  apps/pwa/src/sections/client/profile/index.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: wip edit request
  apps/raise/src/main.ts
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/client-edit-request-field.dto.ts
  apps/raise/src/tender-user/client/dtos/responses/raw-edit-request-by-log-id.dto.ts
  apps/raise/src/tender-user/client/mappers/approve-edit-request.mapper.ts
  apps/raise/src/tender-user/client/mappers/create-edit-request-log.mapper.ts
  apps/raise/src/tender-user/client/mappers/edit_request.mapper.txt
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/mappers/update-user.mapper.ts
  apps/raise/src/tender-user/user/repositories/tender-user.repository.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

workaround editrequest client side
  apps/pwa/src/components/table/TableAMCustom.tsx
  apps/pwa/src/components/table/TableHeadCustom.tsx
  apps/pwa/src/components/table/TableRowsData.tsx
  apps/pwa/src/components/table/type.ts
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/pages/accounts-manager/info/update-request.tsx
  apps/pwa/src/pages/accounts-manager/partner/PartnerDetails.tsx
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/sections/auth/register/RegisterForm.tsx
  apps/pwa/src/sections/client/funding-project-request/Forms-Data/index.tsx
  apps/pwa/src/sections/client/profile/ClientProfileEditForm.tsx
  apps/pwa/src/sections/client/profile/ClientUserEditForm.tsx
  apps/pwa/src/sections/client/profile/forms/AddBankModal.tsx
  apps/pwa/src/sections/client/profile/forms/AdministrativeInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/BankingInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/LicenseInfoForm.tsx
  apps/pwa/src/sections/client/profile/forms/MainForm.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

fix minor bug, chage query for get bank informations create proposal and edit reqeust client profile
  apps/pwa/src/pages/client/ClientProfile.tsx
  apps/pwa/src/queries/client/getUserBankInformation.ts
  apps/pwa/src/queries/client/gettingUserDataForEdit.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: approve and reject edit request, image still not being handled, multiple bank and soft delete bank OK
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-user/client/controllers/tender-client.controller.ts
  apps/raise/src/tender-user/client/dtos/requests/edit-request-by-id.dto.ts
  apps/raise/src/tender-user/client/dtos/requests/reject-edit-request.dto.ts
  apps/raise/src/tender-user/client/repositories/tender-client.repository.ts
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

feat: change employee info: password, email, employee_name, phone number
  apps/raise/src/tender-user/user/controllers/tender-user.controller.ts
  apps/raise/src/tender-user/user/interfaces/update-user-payload.interface.ts
  apps/raise/src/tender-user/user/mappers/update-user.mapper.ts
  apps/raise/src/tender-user/user/services/tender-user.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

WIP: acc & reject for supervisor roles
  apps/pwa/src/components/FormGenerator.tsx
  apps/pwa/src/components/hook-form/BaseField.tsx
  apps/pwa/src/components/hook-form/RHFRepeater.tsx
  apps/pwa/src/components/hook-form/index.ts
  apps/pwa/src/redux/slices/supervisorAcceptingForm.ts
  apps/pwa/src/sections/client/funding-project-request/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/project-manager/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/ProposalAcceptingForm.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/form-data.ts
  apps/pwa/src/sections/project-details/floating-action-bar/supervisor/supervisor-general-tracks/index.tsx
  apps/pwa/src/sections/project-details/floating-action-bar/types.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add compared data between old and new val for the response (fe request)
  apps/raise/src/tender-user/client/services/tender-client.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

add: arabic translate in notification, add payment notification, change query proposal
  apps/pwa/src/@types/proposal.ts
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/locales/ar.ts
  apps/pwa/src/locales/en.ts
  apps/pwa/src/queries/commons/createNewFollowUp.ts
  apps/pwa/src/queries/commons/getOneProposal.ts
  apps/pwa/src/queries/commons/subNotification.ts
  apps/pwa/src/redux/slices/proposal.ts
  apps/pwa/src/sections/project-details/follow-ups/EmployeeFollowUpsPage.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsFile.tsx
  apps/pwa/src/sections/project-details/follow-ups/FollowUpsText.tsx
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

feat: add payload for supervisor crud item budgets, refactor followup to rest to send notif also upload via endpoint
  apps/raise/src/libs/email/templates/tender/ar/proposal/project_information.hbs
  apps/raise/src/prisma/schema.prisma
  apps/raise/src/tender-proposal/controllers/tender-proposal-follow-up.controller.ts
  apps/raise/src/tender-proposal/dtos/requests/follow-ups/create-follow-up.dto.ts
  apps/raise/src/tender-proposal/dtos/requests/proposal/supervisor-change-state.dto.ts
  apps/raise/src/tender-proposal/dtos/responses/follow-up/raw-create-follow-up.dto.ts
  apps/raise/src/tender-proposal/mappers/follow-ups/create-follow-up.mapper.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal-follow-up.repository.ts
  apps/raise/src/tender-proposal/repositories/tender-proposal.repository.ts
  apps/raise/src/tender-proposal/services/tender-proposal-follow-up.service.ts
  apps/raise/src/tender-proposal/services/tender-proposal-log.service.ts
  apps/raise/src/tender-proposal/services/tender-proposal.service.ts
  apps/raise/src/tender/controllers/tender.controller.ts
  apps/raise/src/tender/dtos/requests/create-follow-up.dto.ts
  apps/raise/src/tender/services/tender.service.ts
Due: build tmra-raise, publish tmra-raise to non-prod, publish tmra-raise to prod, trigger deploy tmra-raise to dev, trigger deploy tmra-raise to qc, trigger deploy tmra-raise to staging, trigger deploy tmra-raise to prod

fix: issue in account manager
  apps/pwa/src/layouts/dashboard/header/MessagePopover.tsx
  apps/pwa/src/layouts/dashboard/header/NotificationsPopover.tsx
  apps/pwa/src/queries/commons/subNotification.ts
Due: build tmra-pwa dev, build tmra-pwa qc, build tmra-pwa staging, build tmra-pwa prod, publish tmra-pwa to dev, publish tmra-pwa to qc, publish tmra-pwa to staging, publish tmra-pwa to prod, trigger deploy tmra-pwa to dev, trigger deploy tmra-pwa to qc, trigger deploy tmra-pwa to staging, trigger deploy tmra-pwa to prod

Path conditions:
  build tmra-raise: any of: apps/raise/**/*
  build tmra-pwa dev: any of: apps/pwa/**/*
  build tmra-pwa qc: any of: apps/pwa/**/*
  build tmra-pwa staging: any of: apps/pwa/**/*
  build tmra-pwa prod: any of: apps/pwa/**/*
  publish tmra-raise to non-prod: any of: apps/raise/**/*
  publish tmra-raise to prod: any of: apps/raise/**/*
  publish tmra-pwa to dev: any of: apps/pwa/**/*
  publish tmra-pwa to qc: any of: apps/pwa/**/*
  publish tmra-pwa to staging: any of: apps/pwa/**/*
  publish tmra-pwa to prod: any of: apps/pwa/**/*
  trigger deploy tmra-raise to dev: any of: apps/raise/**/*
  trigger deploy tmra-raise to qc: any of: apps/raise/**/*
  trigger deploy tmra-raise to staging: any of: apps/raise/**/*
  trigger deploy tmra-raise to prod: any of: apps/raise/**/*
  trigger deploy tmra-pwa to dev: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to qc: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to staging: any of: apps/pwa/**/*
  trigger deploy tmra-pwa to prod: any of: apps/pwa/**/*
